<div class="row">

    <section id="content" class="span9">
        <h1>Posts</h1>
        <div class="content" id="middleContent"></div>
    </section>


    <section id="right-nav" class="span3">
        <div id="content-nav" class="affix contentnav">

        </div>
    </section>
</div>

