<!-- header bar -->
<div id="header" class="affix"></div>

<!-- top bar / mobile: left bar -->
<div id="mainmenu"></div>


<!-- middle content -->
<div id="body-fluid">
    <div class="container" id="body-container">
    </div>
</div>

<!-- right/content - navigation -->
<div id="contentmenu">
    <div class="wrapmenu"></div>
</div>



<div id="mask" hidden="" class="mask"></div>
