/*
 *  Font Awesome 3.2.0
 *  the iconic font designed for Bootstrap
 *  ------------------------------------------------------------------------------
 *  The full suite of pictographic icons, examples, and documentation can be
 *  found at http://fontawesome.io.  Stay up to date on Twitter at
 *  http://twitter.com/fontawesome.
 *
 *  License
 *  ------------------------------------------------------------------------------
 *  - The Font Awesome font is licensed under SIL OFL 1.1 -
 *    http://scripts.sil.org/OFL
 *  - Font Awesome CSS, LESS, and SASS files are licensed under MIT License -
 *    http://opensource.org/licenses/mit-license.html
 *  - Font Awesome documentation licensed under CC BY 3.0 -
 *    http://creativecommons.org/licenses/by/3.0/
 *  - Attribution is no longer required in Font Awesome 3.0, but much appreciated:
 *    "Font Awesome by Dave Gandy - http://fontawesome.io"
 *
 *  Author - Dave Gandy
 *  ------------------------------------------------------------------------------
 *  Email: dave@fontawesome.io
 *  Twitter: http://twitter.com/byscuits
 *  Work: Lead Product Designer @ Kyruus - http://kyruus.com
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("font-awesome/font/fontawesome-webfont.eot?v=3.2.0");
  src: url("font-awesome/font/fontawesome-webfont.eot?#iefix&v=3.2.0") format("embedded-opentype"), url("font-awesome/font/fontawesome-webfont.woff?v=3.2.0") format("woff"), url("font-awesome/font/fontawesome-webfont.ttf?v=3.2.0") format("truetype"), url("font-awesome/font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.0") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* FONT AWESOME CORE
 * -------------------------- */
/* line 5, font-awesome/scss/_core.scss */
[class^="icon-"],
[class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
}

/* line 10, font-awesome/scss/_core.scss */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  cursor: default;
  speak: none;
}

/* makes the font 33% larger relative to the icon container */
/* line 18, font-awesome/scss/_core.scss */
.icon-large:before {
  vertical-align: -10%;
  font-size: 1.33333em;
}

/* makes sure icons active on rollover in links */
/* line 26, font-awesome/scss/_core.scss */
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline;
}

/* increased font size for icon-large */
/* line 34, font-awesome/scss/_core.scss */
[class^="icon-"].icon-fixed-width,
[class*=" icon-"].icon-fixed-width {
  display: inline-block;
  width: 1.14286em;
  text-align: right;
  padding-right: 0.28571em;
}
/* line 39, font-awesome/scss/_core.scss */
[class^="icon-"].icon-fixed-width.icon-large,
[class*=" icon-"].icon-fixed-width.icon-large {
  width: 1.42857em;
}

/* line 45, font-awesome/scss/_core.scss */
.icons-ul {
  margin-left: 2.14286em;
  list-style-type: none;
}
/* line 49, font-awesome/scss/_core.scss */
.icons-ul > li {
  position: relative;
}
/* line 51, font-awesome/scss/_core.scss */
.icons-ul .icon-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  text-align: center;
  line-height: inherit;
}

/* line 63, font-awesome/scss/_core.scss */
[class^="icon-"].hide,
[class*=" icon-"].hide {
  display: none;
}

/* line 68, font-awesome/scss/_core.scss */
.icon-muted {
  color: #eeeeee;
}

/* line 69, font-awesome/scss/_core.scss */
.icon-light {
  color: white;
}

/* line 70, font-awesome/scss/_core.scss */
.icon-dark {
  color: #333333;
}

/* line 75, font-awesome/scss/_core.scss */
.icon-border {
  border: solid 1px #eeeeee;
  padding: .2em .25em .15em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 84, font-awesome/scss/_core.scss */
.icon-2x {
  font-size: 2em;
}
/* line 86, font-awesome/scss/_core.scss */
.icon-2x.icon-border {
  border-width: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 91, font-awesome/scss/_core.scss */
.icon-3x {
  font-size: 3em;
}
/* line 93, font-awesome/scss/_core.scss */
.icon-3x.icon-border {
  border-width: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 98, font-awesome/scss/_core.scss */
.icon-4x {
  font-size: 4em;
}
/* line 100, font-awesome/scss/_core.scss */
.icon-4x.icon-border {
  border-width: 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/* line 106, font-awesome/scss/_core.scss */
.icon-5x {
  font-size: 5em;
}
/* line 108, font-awesome/scss/_core.scss */
.icon-5x.icon-border {
  border-width: 5px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

/* line 119, font-awesome/scss/_core.scss */
.pull-right {
  float: right;
}

/* line 120, font-awesome/scss/_core.scss */
.pull-left {
  float: left;
}

/* line 124, font-awesome/scss/_core.scss */
[class^="icon-"].pull-left,
[class*=" icon-"].pull-left {
  margin-right: .3em;
}
/* line 127, font-awesome/scss/_core.scss */
[class^="icon-"].pull-right,
[class*=" icon-"].pull-right {
  margin-left: .3em;
}

/* BOOTSTRAP SPECIFIC CLASSES
 * -------------------------- */
/* Bootstrap 2.0 sprites.less reset */
/* line 6, font-awesome/scss/_bootstrap.scss */
[class^="icon-"],
[class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}

/* more sprites.less reset */
/* line 31, font-awesome/scss/_bootstrap.scss */
.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
  background-image: none;
}

/* keeps Bootstrap styles with and without icons the same */
/* line 41, font-awesome/scss/_bootstrap.scss */
.btn [class^="icon-"].icon-large,
.btn [class*=" icon-"].icon-large, .nav [class^="icon-"].icon-large,
.nav [class*=" icon-"].icon-large {
  line-height: .9em;
}
/* line 42, font-awesome/scss/_bootstrap.scss */
.btn [class^="icon-"].icon-spin,
.btn [class*=" icon-"].icon-spin, .nav [class^="icon-"].icon-spin,
.nav [class*=" icon-"].icon-spin {
  display: inline-block;
}

/* line 48, font-awesome/scss/_bootstrap.scss */
.nav-tabs [class^="icon-"], .nav-tabs [class^="icon-"].icon-large,
.nav-tabs [class*=" icon-"],
.nav-tabs [class*=" icon-"].icon-large, .nav-pills [class^="icon-"], .nav-pills [class^="icon-"].icon-large,
.nav-pills [class*=" icon-"],
.nav-pills [class*=" icon-"].icon-large {
  line-height: .9em;
}

/* line 55, font-awesome/scss/_bootstrap.scss */
.btn [class^="icon-"].pull-left.icon-2x, .btn [class^="icon-"].pull-right.icon-2x,
.btn [class*=" icon-"].pull-left.icon-2x,
.btn [class*=" icon-"].pull-right.icon-2x {
  margin-top: .18em;
}
/* line 57, font-awesome/scss/_bootstrap.scss */
.btn [class^="icon-"].icon-spin.icon-large,
.btn [class*=" icon-"].icon-spin.icon-large {
  line-height: .8em;
}

/* line 64, font-awesome/scss/_bootstrap.scss */
.btn.btn-small [class^="icon-"].pull-left.icon-2x, .btn.btn-small [class^="icon-"].pull-right.icon-2x,
.btn.btn-small [class*=" icon-"].pull-left.icon-2x,
.btn.btn-small [class*=" icon-"].pull-right.icon-2x {
  margin-top: .25em;
}

/* line 70, font-awesome/scss/_bootstrap.scss */
.btn.btn-large [class^="icon-"],
.btn.btn-large [class*=" icon-"] {
  margin-top: 0;
}
/* line 73, font-awesome/scss/_bootstrap.scss */
.btn.btn-large [class^="icon-"].pull-left.icon-2x, .btn.btn-large [class^="icon-"].pull-right.icon-2x,
.btn.btn-large [class*=" icon-"].pull-left.icon-2x,
.btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-top: .05em;
}
/* line 75, font-awesome/scss/_bootstrap.scss */
.btn.btn-large [class^="icon-"].pull-left.icon-2x,
.btn.btn-large [class*=" icon-"].pull-left.icon-2x {
  margin-right: .2em;
}
/* line 76, font-awesome/scss/_bootstrap.scss */
.btn.btn-large [class^="icon-"].pull-right.icon-2x,
.btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-left: .2em;
}

/* EXTRAS
 * -------------------------- */
/* Stacked and layered icon */
/* line 25, font-awesome/scss/_mixins.scss */
.icon-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: -35%;
}
/* line 33, font-awesome/scss/_mixins.scss */
.icon-stack [class^="icon-"],
.icon-stack [class*=" icon-"] {
  display: block;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1em;
  line-height: inherit;
  *line-height: 2em;
}
/* line 43, font-awesome/scss/_mixins.scss */
.icon-stack .icon-stack-base {
  font-size: 2em;
  *line-height: 1em;
}

/* Animated rotating icon */
/* line 8, font-awesome/scss/_extras.scss */
.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

/* line 15, font-awesome/scss/_extras.scss */
a .icon-spin {
  display: inline-block;
  text-decoration: none;
}

@-moz-keyframes spin {
  /* line 21, font-awesome/scss/_extras.scss */
  0% {
    -moz-transform: rotate(0deg);
  }

  /* line 22, font-awesome/scss/_extras.scss */
  100% {
    -moz-transform: rotate(359deg);
  }
}

@-webkit-keyframes spin {
  /* line 25, font-awesome/scss/_extras.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 26, font-awesome/scss/_extras.scss */
  100% {
    -webkit-transform: rotate(359deg);
  }
}

@-o-keyframes spin {
  /* line 29, font-awesome/scss/_extras.scss */
  0% {
    -o-transform: rotate(0deg);
  }

  /* line 30, font-awesome/scss/_extras.scss */
  100% {
    -o-transform: rotate(359deg);
  }
}

@-ms-keyframes spin {
  /* line 33, font-awesome/scss/_extras.scss */
  0% {
    -ms-transform: rotate(0deg);
  }

  /* line 34, font-awesome/scss/_extras.scss */
  100% {
    -ms-transform: rotate(359deg);
  }
}

@keyframes spin {
  /* line 37, font-awesome/scss/_extras.scss */
  0% {
    transform: rotate(0deg);
  }

  /* line 38, font-awesome/scss/_extras.scss */
  100% {
    transform: rotate(359deg);
  }
}

/* Icon rotations and mirroring */
/* line 42, font-awesome/scss/_extras.scss */
.icon-rotate-90:before {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

/* line 51, font-awesome/scss/_extras.scss */
.icon-rotate-180:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

/* line 60, font-awesome/scss/_extras.scss */
.icon-rotate-270:before {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

/* line 69, font-awesome/scss/_extras.scss */
.icon-flip-horizontal:before {
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

/* line 77, font-awesome/scss/_extras.scss */
.icon-flip-vertical:before {
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}

/* ensure rotation occurs inside anchor tags */
/* line 88, font-awesome/scss/_extras.scss */
a .icon-rotate-90:before, a .icon-rotate-180:before, a .icon-rotate-270:before, a .icon-flip-horizontal:before, a .icon-flip-vertical:before {
  display: inline-block;
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
 * readers do not read off random characters that represent icons */
/* line 4, font-awesome/scss/_icons.scss */
.icon-glass:before {
  content: "\f000";
}

/* line 5, font-awesome/scss/_icons.scss */
.icon-music:before {
  content: "\f001";
}

/* line 6, font-awesome/scss/_icons.scss */
.icon-search:before {
  content: "\f002";
}

/* line 7, font-awesome/scss/_icons.scss */
.icon-envelope-alt:before {
  content: "\f003";
}

/* line 8, font-awesome/scss/_icons.scss */
.icon-heart:before {
  content: "\f004";
}

/* line 9, font-awesome/scss/_icons.scss */
.icon-star:before {
  content: "\f005";
}

/* line 10, font-awesome/scss/_icons.scss */
.icon-star-empty:before {
  content: "\f006";
}

/* line 11, font-awesome/scss/_icons.scss */
.icon-user:before {
  content: "\f007";
}

/* line 12, font-awesome/scss/_icons.scss */
.icon-film:before {
  content: "\f008";
}

/* line 13, font-awesome/scss/_icons.scss */
.icon-th-large:before {
  content: "\f009";
}

/* line 14, font-awesome/scss/_icons.scss */
.icon-th:before {
  content: "\f00a";
}

/* line 15, font-awesome/scss/_icons.scss */
.icon-th-list:before {
  content: "\f00b";
}

/* line 16, font-awesome/scss/_icons.scss */
.icon-ok:before {
  content: "\f00c";
}

/* line 17, font-awesome/scss/_icons.scss */
.icon-remove:before {
  content: "\f00d";
}

/* line 18, font-awesome/scss/_icons.scss */
.icon-zoom-in:before {
  content: "\f00e";
}

/* line 19, font-awesome/scss/_icons.scss */
.icon-zoom-out:before {
  content: "\f010";
}

/* line 21, font-awesome/scss/_icons.scss */
.icon-power-off:before,
.icon-off:before {
  content: "\f011";
}

/* line 22, font-awesome/scss/_icons.scss */
.icon-signal:before {
  content: "\f012";
}

/* line 23, font-awesome/scss/_icons.scss */
.icon-cog:before {
  content: "\f013";
}

/* line 24, font-awesome/scss/_icons.scss */
.icon-trash:before {
  content: "\f014";
}

/* line 25, font-awesome/scss/_icons.scss */
.icon-home:before {
  content: "\f015";
}

/* line 26, font-awesome/scss/_icons.scss */
.icon-file-alt:before {
  content: "\f016";
}

/* line 27, font-awesome/scss/_icons.scss */
.icon-time:before {
  content: "\f017";
}

/* line 28, font-awesome/scss/_icons.scss */
.icon-road:before {
  content: "\f018";
}

/* line 29, font-awesome/scss/_icons.scss */
.icon-download-alt:before {
  content: "\f019";
}

/* line 30, font-awesome/scss/_icons.scss */
.icon-download:before {
  content: "\f01a";
}

/* line 31, font-awesome/scss/_icons.scss */
.icon-upload:before {
  content: "\f01b";
}

/* line 32, font-awesome/scss/_icons.scss */
.icon-inbox:before {
  content: "\f01c";
}

/* line 33, font-awesome/scss/_icons.scss */
.icon-play-circle:before {
  content: "\f01d";
}

/* line 35, font-awesome/scss/_icons.scss */
.icon-rotate-right:before,
.icon-repeat:before {
  content: "\f01e";
}

/* line 36, font-awesome/scss/_icons.scss */
.icon-refresh:before {
  content: "\f021";
}

/* line 37, font-awesome/scss/_icons.scss */
.icon-list-alt:before {
  content: "\f022";
}

/* line 38, font-awesome/scss/_icons.scss */
.icon-lock:before {
  content: "\f023";
}

/* line 39, font-awesome/scss/_icons.scss */
.icon-flag:before {
  content: "\f024";
}

/* line 40, font-awesome/scss/_icons.scss */
.icon-headphones:before {
  content: "\f025";
}

/* line 41, font-awesome/scss/_icons.scss */
.icon-volume-off:before {
  content: "\f026";
}

/* line 42, font-awesome/scss/_icons.scss */
.icon-volume-down:before {
  content: "\f027";
}

/* line 43, font-awesome/scss/_icons.scss */
.icon-volume-up:before {
  content: "\f028";
}

/* line 44, font-awesome/scss/_icons.scss */
.icon-qrcode:before {
  content: "\f029";
}

/* line 45, font-awesome/scss/_icons.scss */
.icon-barcode:before {
  content: "\f02a";
}

/* line 46, font-awesome/scss/_icons.scss */
.icon-tag:before {
  content: "\f02b";
}

/* line 47, font-awesome/scss/_icons.scss */
.icon-tags:before {
  content: "\f02c";
}

/* line 48, font-awesome/scss/_icons.scss */
.icon-book:before {
  content: "\f02d";
}

/* line 49, font-awesome/scss/_icons.scss */
.icon-bookmark:before {
  content: "\f02e";
}

/* line 50, font-awesome/scss/_icons.scss */
.icon-print:before {
  content: "\f02f";
}

/* line 51, font-awesome/scss/_icons.scss */
.icon-camera:before {
  content: "\f030";
}

/* line 52, font-awesome/scss/_icons.scss */
.icon-font:before {
  content: "\f031";
}

/* line 53, font-awesome/scss/_icons.scss */
.icon-bold:before {
  content: "\f032";
}

/* line 54, font-awesome/scss/_icons.scss */
.icon-italic:before {
  content: "\f033";
}

/* line 55, font-awesome/scss/_icons.scss */
.icon-text-height:before {
  content: "\f034";
}

/* line 56, font-awesome/scss/_icons.scss */
.icon-text-width:before {
  content: "\f035";
}

/* line 57, font-awesome/scss/_icons.scss */
.icon-align-left:before {
  content: "\f036";
}

/* line 58, font-awesome/scss/_icons.scss */
.icon-align-center:before {
  content: "\f037";
}

/* line 59, font-awesome/scss/_icons.scss */
.icon-align-right:before {
  content: "\f038";
}

/* line 60, font-awesome/scss/_icons.scss */
.icon-align-justify:before {
  content: "\f039";
}

/* line 61, font-awesome/scss/_icons.scss */
.icon-list:before {
  content: "\f03a";
}

/* line 62, font-awesome/scss/_icons.scss */
.icon-indent-left:before {
  content: "\f03b";
}

/* line 63, font-awesome/scss/_icons.scss */
.icon-indent-right:before {
  content: "\f03c";
}

/* line 64, font-awesome/scss/_icons.scss */
.icon-facetime-video:before {
  content: "\f03d";
}

/* line 65, font-awesome/scss/_icons.scss */
.icon-picture:before {
  content: "\f03e";
}

/* line 66, font-awesome/scss/_icons.scss */
.icon-pencil:before {
  content: "\f040";
}

/* line 67, font-awesome/scss/_icons.scss */
.icon-map-marker:before {
  content: "\f041";
}

/* line 68, font-awesome/scss/_icons.scss */
.icon-adjust:before {
  content: "\f042";
}

/* line 69, font-awesome/scss/_icons.scss */
.icon-tint:before {
  content: "\f043";
}

/* line 70, font-awesome/scss/_icons.scss */
.icon-edit:before {
  content: "\f044";
}

/* line 71, font-awesome/scss/_icons.scss */
.icon-share:before {
  content: "\f045";
}

/* line 72, font-awesome/scss/_icons.scss */
.icon-check:before {
  content: "\f046";
}

/* line 73, font-awesome/scss/_icons.scss */
.icon-move:before {
  content: "\f047";
}

/* line 74, font-awesome/scss/_icons.scss */
.icon-step-backward:before {
  content: "\f048";
}

/* line 75, font-awesome/scss/_icons.scss */
.icon-fast-backward:before {
  content: "\f049";
}

/* line 76, font-awesome/scss/_icons.scss */
.icon-backward:before {
  content: "\f04a";
}

/* line 77, font-awesome/scss/_icons.scss */
.icon-play:before {
  content: "\f04b";
}

/* line 78, font-awesome/scss/_icons.scss */
.icon-pause:before {
  content: "\f04c";
}

/* line 79, font-awesome/scss/_icons.scss */
.icon-stop:before {
  content: "\f04d";
}

/* line 80, font-awesome/scss/_icons.scss */
.icon-forward:before {
  content: "\f04e";
}

/* line 81, font-awesome/scss/_icons.scss */
.icon-fast-forward:before {
  content: "\f050";
}

/* line 82, font-awesome/scss/_icons.scss */
.icon-step-forward:before {
  content: "\f051";
}

/* line 83, font-awesome/scss/_icons.scss */
.icon-eject:before {
  content: "\f052";
}

/* line 84, font-awesome/scss/_icons.scss */
.icon-chevron-left:before {
  content: "\f053";
}

/* line 85, font-awesome/scss/_icons.scss */
.icon-chevron-right:before {
  content: "\f054";
}

/* line 86, font-awesome/scss/_icons.scss */
.icon-plus-sign:before {
  content: "\f055";
}

/* line 87, font-awesome/scss/_icons.scss */
.icon-minus-sign:before {
  content: "\f056";
}

/* line 88, font-awesome/scss/_icons.scss */
.icon-remove-sign:before {
  content: "\f057";
}

/* line 89, font-awesome/scss/_icons.scss */
.icon-ok-sign:before {
  content: "\f058";
}

/* line 90, font-awesome/scss/_icons.scss */
.icon-question-sign:before {
  content: "\f059";
}

/* line 91, font-awesome/scss/_icons.scss */
.icon-info-sign:before {
  content: "\f05a";
}

/* line 92, font-awesome/scss/_icons.scss */
.icon-screenshot:before {
  content: "\f05b";
}

/* line 93, font-awesome/scss/_icons.scss */
.icon-remove-circle:before {
  content: "\f05c";
}

/* line 94, font-awesome/scss/_icons.scss */
.icon-ok-circle:before {
  content: "\f05d";
}

/* line 95, font-awesome/scss/_icons.scss */
.icon-ban-circle:before {
  content: "\f05e";
}

/* line 96, font-awesome/scss/_icons.scss */
.icon-arrow-left:before {
  content: "\f060";
}

/* line 97, font-awesome/scss/_icons.scss */
.icon-arrow-right:before {
  content: "\f061";
}

/* line 98, font-awesome/scss/_icons.scss */
.icon-arrow-up:before {
  content: "\f062";
}

/* line 99, font-awesome/scss/_icons.scss */
.icon-arrow-down:before {
  content: "\f063";
}

/* line 101, font-awesome/scss/_icons.scss */
.icon-mail-forward:before,
.icon-share-alt:before {
  content: "\f064";
}

/* line 102, font-awesome/scss/_icons.scss */
.icon-resize-full:before {
  content: "\f065";
}

/* line 103, font-awesome/scss/_icons.scss */
.icon-resize-small:before {
  content: "\f066";
}

/* line 104, font-awesome/scss/_icons.scss */
.icon-plus:before {
  content: "\f067";
}

/* line 105, font-awesome/scss/_icons.scss */
.icon-minus:before {
  content: "\f068";
}

/* line 106, font-awesome/scss/_icons.scss */
.icon-asterisk:before {
  content: "\f069";
}

/* line 107, font-awesome/scss/_icons.scss */
.icon-exclamation-sign:before {
  content: "\f06a";
}

/* line 108, font-awesome/scss/_icons.scss */
.icon-gift:before {
  content: "\f06b";
}

/* line 109, font-awesome/scss/_icons.scss */
.icon-leaf:before {
  content: "\f06c";
}

/* line 110, font-awesome/scss/_icons.scss */
.icon-fire:before {
  content: "\f06d";
}

/* line 111, font-awesome/scss/_icons.scss */
.icon-eye-open:before {
  content: "\f06e";
}

/* line 112, font-awesome/scss/_icons.scss */
.icon-eye-close:before {
  content: "\f070";
}

/* line 113, font-awesome/scss/_icons.scss */
.icon-warning-sign:before {
  content: "\f071";
}

/* line 114, font-awesome/scss/_icons.scss */
.icon-plane:before {
  content: "\f072";
}

/* line 115, font-awesome/scss/_icons.scss */
.icon-calendar:before {
  content: "\f073";
}

/* line 116, font-awesome/scss/_icons.scss */
.icon-random:before {
  content: "\f074";
}

/* line 117, font-awesome/scss/_icons.scss */
.icon-comment:before {
  content: "\f075";
}

/* line 118, font-awesome/scss/_icons.scss */
.icon-magnet:before {
  content: "\f076";
}

/* line 119, font-awesome/scss/_icons.scss */
.icon-chevron-up:before {
  content: "\f077";
}

/* line 120, font-awesome/scss/_icons.scss */
.icon-chevron-down:before {
  content: "\f078";
}

/* line 121, font-awesome/scss/_icons.scss */
.icon-retweet:before {
  content: "\f079";
}

/* line 122, font-awesome/scss/_icons.scss */
.icon-shopping-cart:before {
  content: "\f07a";
}

/* line 123, font-awesome/scss/_icons.scss */
.icon-folder-close:before {
  content: "\f07b";
}

/* line 124, font-awesome/scss/_icons.scss */
.icon-folder-open:before {
  content: "\f07c";
}

/* line 125, font-awesome/scss/_icons.scss */
.icon-resize-vertical:before {
  content: "\f07d";
}

/* line 126, font-awesome/scss/_icons.scss */
.icon-resize-horizontal:before {
  content: "\f07e";
}

/* line 127, font-awesome/scss/_icons.scss */
.icon-bar-chart:before {
  content: "\f080";
}

/* line 128, font-awesome/scss/_icons.scss */
.icon-twitter-sign:before {
  content: "\f081";
}

/* line 129, font-awesome/scss/_icons.scss */
.icon-facebook-sign:before {
  content: "\f082";
}

/* line 130, font-awesome/scss/_icons.scss */
.icon-camera-retro:before {
  content: "\f083";
}

/* line 131, font-awesome/scss/_icons.scss */
.icon-key:before {
  content: "\f084";
}

/* line 132, font-awesome/scss/_icons.scss */
.icon-cogs:before {
  content: "\f085";
}

/* line 133, font-awesome/scss/_icons.scss */
.icon-comments:before {
  content: "\f086";
}

/* line 134, font-awesome/scss/_icons.scss */
.icon-thumbs-up-alt:before {
  content: "\f087";
}

/* line 135, font-awesome/scss/_icons.scss */
.icon-thumbs-down-alt:before {
  content: "\f088";
}

/* line 136, font-awesome/scss/_icons.scss */
.icon-star-half:before {
  content: "\f089";
}

/* line 137, font-awesome/scss/_icons.scss */
.icon-heart-empty:before {
  content: "\f08a";
}

/* line 138, font-awesome/scss/_icons.scss */
.icon-signout:before {
  content: "\f08b";
}

/* line 139, font-awesome/scss/_icons.scss */
.icon-linkedin-sign:before {
  content: "\f08c";
}

/* line 140, font-awesome/scss/_icons.scss */
.icon-pushpin:before {
  content: "\f08d";
}

/* line 141, font-awesome/scss/_icons.scss */
.icon-external-link:before {
  content: "\f08e";
}

/* line 142, font-awesome/scss/_icons.scss */
.icon-signin:before {
  content: "\f090";
}

/* line 143, font-awesome/scss/_icons.scss */
.icon-trophy:before {
  content: "\f091";
}

/* line 144, font-awesome/scss/_icons.scss */
.icon-github-sign:before {
  content: "\f092";
}

/* line 145, font-awesome/scss/_icons.scss */
.icon-upload-alt:before {
  content: "\f093";
}

/* line 146, font-awesome/scss/_icons.scss */
.icon-lemon:before {
  content: "\f094";
}

/* line 147, font-awesome/scss/_icons.scss */
.icon-phone:before {
  content: "\f095";
}

/* line 149, font-awesome/scss/_icons.scss */
.icon-unchecked:before,
.icon-check-empty:before {
  content: "\f096";
}

/* line 150, font-awesome/scss/_icons.scss */
.icon-bookmark-empty:before {
  content: "\f097";
}

/* line 151, font-awesome/scss/_icons.scss */
.icon-phone-sign:before {
  content: "\f098";
}

/* line 152, font-awesome/scss/_icons.scss */
.icon-twitter:before {
  content: "\f099";
}

/* line 153, font-awesome/scss/_icons.scss */
.icon-facebook:before {
  content: "\f09a";
}

/* line 154, font-awesome/scss/_icons.scss */
.icon-github:before {
  content: "\f09b";
}

/* line 155, font-awesome/scss/_icons.scss */
.icon-unlock:before {
  content: "\f09c";
}

/* line 156, font-awesome/scss/_icons.scss */
.icon-credit-card:before {
  content: "\f09d";
}

/* line 157, font-awesome/scss/_icons.scss */
.icon-rss:before {
  content: "\f09e";
}

/* line 158, font-awesome/scss/_icons.scss */
.icon-hdd:before {
  content: "\f0a0";
}

/* line 159, font-awesome/scss/_icons.scss */
.icon-bullhorn:before {
  content: "\f0a1";
}

/* line 160, font-awesome/scss/_icons.scss */
.icon-bell:before {
  content: "\f0a2";
}

/* line 161, font-awesome/scss/_icons.scss */
.icon-certificate:before {
  content: "\f0a3";
}

/* line 162, font-awesome/scss/_icons.scss */
.icon-hand-right:before {
  content: "\f0a4";
}

/* line 163, font-awesome/scss/_icons.scss */
.icon-hand-left:before {
  content: "\f0a5";
}

/* line 164, font-awesome/scss/_icons.scss */
.icon-hand-up:before {
  content: "\f0a6";
}

/* line 165, font-awesome/scss/_icons.scss */
.icon-hand-down:before {
  content: "\f0a7";
}

/* line 166, font-awesome/scss/_icons.scss */
.icon-circle-arrow-left:before {
  content: "\f0a8";
}

/* line 167, font-awesome/scss/_icons.scss */
.icon-circle-arrow-right:before {
  content: "\f0a9";
}

/* line 168, font-awesome/scss/_icons.scss */
.icon-circle-arrow-up:before {
  content: "\f0aa";
}

/* line 169, font-awesome/scss/_icons.scss */
.icon-circle-arrow-down:before {
  content: "\f0ab";
}

/* line 170, font-awesome/scss/_icons.scss */
.icon-globe:before {
  content: "\f0ac";
}

/* line 171, font-awesome/scss/_icons.scss */
.icon-wrench:before {
  content: "\f0ad";
}

/* line 172, font-awesome/scss/_icons.scss */
.icon-tasks:before {
  content: "\f0ae";
}

/* line 173, font-awesome/scss/_icons.scss */
.icon-filter:before {
  content: "\f0b0";
}

/* line 174, font-awesome/scss/_icons.scss */
.icon-briefcase:before {
  content: "\f0b1";
}

/* line 175, font-awesome/scss/_icons.scss */
.icon-fullscreen:before {
  content: "\f0b2";
}

/* line 176, font-awesome/scss/_icons.scss */
.icon-group:before {
  content: "\f0c0";
}

/* line 177, font-awesome/scss/_icons.scss */
.icon-link:before {
  content: "\f0c1";
}

/* line 178, font-awesome/scss/_icons.scss */
.icon-cloud:before {
  content: "\f0c2";
}

/* line 179, font-awesome/scss/_icons.scss */
.icon-beaker:before {
  content: "\f0c3";
}

/* line 180, font-awesome/scss/_icons.scss */
.icon-cut:before {
  content: "\f0c4";
}

/* line 181, font-awesome/scss/_icons.scss */
.icon-copy:before {
  content: "\f0c5";
}

/* line 183, font-awesome/scss/_icons.scss */
.icon-paperclip:before,
.icon-paper-clip:before {
  content: "\f0c6";
}

/* line 184, font-awesome/scss/_icons.scss */
.icon-save:before {
  content: "\f0c7";
}

/* line 185, font-awesome/scss/_icons.scss */
.icon-sign-blank:before {
  content: "\f0c8";
}

/* line 186, font-awesome/scss/_icons.scss */
.icon-reorder:before {
  content: "\f0c9";
}

/* line 187, font-awesome/scss/_icons.scss */
.icon-list-ul:before {
  content: "\f0ca";
}

/* line 188, font-awesome/scss/_icons.scss */
.icon-list-ol:before {
  content: "\f0cb";
}

/* line 189, font-awesome/scss/_icons.scss */
.icon-strikethrough:before {
  content: "\f0cc";
}

/* line 190, font-awesome/scss/_icons.scss */
.icon-underline:before {
  content: "\f0cd";
}

/* line 191, font-awesome/scss/_icons.scss */
.icon-table:before {
  content: "\f0ce";
}

/* line 192, font-awesome/scss/_icons.scss */
.icon-magic:before {
  content: "\f0d0";
}

/* line 193, font-awesome/scss/_icons.scss */
.icon-truck:before {
  content: "\f0d1";
}

/* line 194, font-awesome/scss/_icons.scss */
.icon-pinterest:before {
  content: "\f0d2";
}

/* line 195, font-awesome/scss/_icons.scss */
.icon-pinterest-sign:before {
  content: "\f0d3";
}

/* line 196, font-awesome/scss/_icons.scss */
.icon-google-plus-sign:before {
  content: "\f0d4";
}

/* line 197, font-awesome/scss/_icons.scss */
.icon-google-plus:before {
  content: "\f0d5";
}

/* line 198, font-awesome/scss/_icons.scss */
.icon-money:before {
  content: "\f0d6";
}

/* line 199, font-awesome/scss/_icons.scss */
.icon-caret-down:before {
  content: "\f0d7";
}

/* line 200, font-awesome/scss/_icons.scss */
.icon-caret-up:before {
  content: "\f0d8";
}

/* line 201, font-awesome/scss/_icons.scss */
.icon-caret-left:before {
  content: "\f0d9";
}

/* line 202, font-awesome/scss/_icons.scss */
.icon-caret-right:before {
  content: "\f0da";
}

/* line 203, font-awesome/scss/_icons.scss */
.icon-columns:before {
  content: "\f0db";
}

/* line 204, font-awesome/scss/_icons.scss */
.icon-sort:before {
  content: "\f0dc";
}

/* line 205, font-awesome/scss/_icons.scss */
.icon-sort-down:before {
  content: "\f0dd";
}

/* line 206, font-awesome/scss/_icons.scss */
.icon-sort-up:before {
  content: "\f0de";
}

/* line 207, font-awesome/scss/_icons.scss */
.icon-envelope:before {
  content: "\f0e0";
}

/* line 208, font-awesome/scss/_icons.scss */
.icon-linkedin:before {
  content: "\f0e1";
}

/* line 210, font-awesome/scss/_icons.scss */
.icon-rotate-left:before,
.icon-undo:before {
  content: "\f0e2";
}

/* line 211, font-awesome/scss/_icons.scss */
.icon-legal:before {
  content: "\f0e3";
}

/* line 212, font-awesome/scss/_icons.scss */
.icon-dashboard:before {
  content: "\f0e4";
}

/* line 213, font-awesome/scss/_icons.scss */
.icon-comment-alt:before {
  content: "\f0e5";
}

/* line 214, font-awesome/scss/_icons.scss */
.icon-comments-alt:before {
  content: "\f0e6";
}

/* line 215, font-awesome/scss/_icons.scss */
.icon-bolt:before {
  content: "\f0e7";
}

/* line 216, font-awesome/scss/_icons.scss */
.icon-sitemap:before {
  content: "\f0e8";
}

/* line 217, font-awesome/scss/_icons.scss */
.icon-umbrella:before {
  content: "\f0e9";
}

/* line 218, font-awesome/scss/_icons.scss */
.icon-paste:before {
  content: "\f0ea";
}

/* line 219, font-awesome/scss/_icons.scss */
.icon-lightbulb:before {
  content: "\f0eb";
}

/* line 220, font-awesome/scss/_icons.scss */
.icon-exchange:before {
  content: "\f0ec";
}

/* line 221, font-awesome/scss/_icons.scss */
.icon-cloud-download:before {
  content: "\f0ed";
}

/* line 222, font-awesome/scss/_icons.scss */
.icon-cloud-upload:before {
  content: "\f0ee";
}

/* line 223, font-awesome/scss/_icons.scss */
.icon-user-md:before {
  content: "\f0f0";
}

/* line 224, font-awesome/scss/_icons.scss */
.icon-stethoscope:before {
  content: "\f0f1";
}

/* line 225, font-awesome/scss/_icons.scss */
.icon-suitcase:before {
  content: "\f0f2";
}

/* line 226, font-awesome/scss/_icons.scss */
.icon-bell-alt:before {
  content: "\f0f3";
}

/* line 227, font-awesome/scss/_icons.scss */
.icon-coffee:before {
  content: "\f0f4";
}

/* line 228, font-awesome/scss/_icons.scss */
.icon-food:before {
  content: "\f0f5";
}

/* line 229, font-awesome/scss/_icons.scss */
.icon-file-text-alt:before {
  content: "\f0f6";
}

/* line 230, font-awesome/scss/_icons.scss */
.icon-building:before {
  content: "\f0f7";
}

/* line 231, font-awesome/scss/_icons.scss */
.icon-hospital:before {
  content: "\f0f8";
}

/* line 232, font-awesome/scss/_icons.scss */
.icon-ambulance:before {
  content: "\f0f9";
}

/* line 233, font-awesome/scss/_icons.scss */
.icon-medkit:before {
  content: "\f0fa";
}

/* line 234, font-awesome/scss/_icons.scss */
.icon-fighter-jet:before {
  content: "\f0fb";
}

/* line 235, font-awesome/scss/_icons.scss */
.icon-beer:before {
  content: "\f0fc";
}

/* line 236, font-awesome/scss/_icons.scss */
.icon-h-sign:before {
  content: "\f0fd";
}

/* line 237, font-awesome/scss/_icons.scss */
.icon-plus-sign-alt:before {
  content: "\f0fe";
}

/* line 238, font-awesome/scss/_icons.scss */
.icon-double-angle-left:before {
  content: "\f100";
}

/* line 239, font-awesome/scss/_icons.scss */
.icon-double-angle-right:before {
  content: "\f101";
}

/* line 240, font-awesome/scss/_icons.scss */
.icon-double-angle-up:before {
  content: "\f102";
}

/* line 241, font-awesome/scss/_icons.scss */
.icon-double-angle-down:before {
  content: "\f103";
}

/* line 242, font-awesome/scss/_icons.scss */
.icon-angle-left:before {
  content: "\f104";
}

/* line 243, font-awesome/scss/_icons.scss */
.icon-angle-right:before {
  content: "\f105";
}

/* line 244, font-awesome/scss/_icons.scss */
.icon-angle-up:before {
  content: "\f106";
}

/* line 245, font-awesome/scss/_icons.scss */
.icon-angle-down:before {
  content: "\f107";
}

/* line 246, font-awesome/scss/_icons.scss */
.icon-desktop:before {
  content: "\f108";
}

/* line 247, font-awesome/scss/_icons.scss */
.icon-laptop:before {
  content: "\f109";
}

/* line 248, font-awesome/scss/_icons.scss */
.icon-tablet:before {
  content: "\f10a";
}

/* line 249, font-awesome/scss/_icons.scss */
.icon-mobile-phone:before {
  content: "\f10b";
}

/* line 250, font-awesome/scss/_icons.scss */
.icon-circle-blank:before {
  content: "\f10c";
}

/* line 251, font-awesome/scss/_icons.scss */
.icon-quote-left:before {
  content: "\f10d";
}

/* line 252, font-awesome/scss/_icons.scss */
.icon-quote-right:before {
  content: "\f10e";
}

/* line 253, font-awesome/scss/_icons.scss */
.icon-spinner:before {
  content: "\f110";
}

/* line 254, font-awesome/scss/_icons.scss */
.icon-circle:before {
  content: "\f111";
}

/* line 256, font-awesome/scss/_icons.scss */
.icon-mail-reply:before,
.icon-reply:before {
  content: "\f112";
}

/* line 257, font-awesome/scss/_icons.scss */
.icon-github-alt:before {
  content: "\f113";
}

/* line 258, font-awesome/scss/_icons.scss */
.icon-folder-close-alt:before {
  content: "\f114";
}

/* line 259, font-awesome/scss/_icons.scss */
.icon-folder-open-alt:before {
  content: "\f115";
}

/* line 260, font-awesome/scss/_icons.scss */
.icon-expand-alt:before {
  content: "\f116";
}

/* line 261, font-awesome/scss/_icons.scss */
.icon-collapse-alt:before {
  content: "\f117";
}

/* line 262, font-awesome/scss/_icons.scss */
.icon-smile:before {
  content: "\f118";
}

/* line 263, font-awesome/scss/_icons.scss */
.icon-frown:before {
  content: "\f119";
}

/* line 264, font-awesome/scss/_icons.scss */
.icon-meh:before {
  content: "\f11a";
}

/* line 265, font-awesome/scss/_icons.scss */
.icon-gamepad:before {
  content: "\f11b";
}

/* line 266, font-awesome/scss/_icons.scss */
.icon-keyboard:before {
  content: "\f11c";
}

/* line 267, font-awesome/scss/_icons.scss */
.icon-flag-alt:before {
  content: "\f11d";
}

/* line 268, font-awesome/scss/_icons.scss */
.icon-flag-checkered:before {
  content: "\f11e";
}

/* line 269, font-awesome/scss/_icons.scss */
.icon-terminal:before {
  content: "\f120";
}

/* line 270, font-awesome/scss/_icons.scss */
.icon-code:before {
  content: "\f121";
}

/* line 271, font-awesome/scss/_icons.scss */
.icon-reply-all:before {
  content: "\f122";
}

/* line 272, font-awesome/scss/_icons.scss */
.icon-mail-reply-all:before {
  content: "\f122";
}

/* line 274, font-awesome/scss/_icons.scss */
.icon-star-half-full:before,
.icon-star-half-empty:before {
  content: "\f123";
}

/* line 275, font-awesome/scss/_icons.scss */
.icon-location-arrow:before {
  content: "\f124";
}

/* line 276, font-awesome/scss/_icons.scss */
.icon-crop:before {
  content: "\f125";
}

/* line 277, font-awesome/scss/_icons.scss */
.icon-code-fork:before {
  content: "\f126";
}

/* line 278, font-awesome/scss/_icons.scss */
.icon-unlink:before {
  content: "\f127";
}

/* line 279, font-awesome/scss/_icons.scss */
.icon-question:before {
  content: "\f128";
}

/* line 280, font-awesome/scss/_icons.scss */
.icon-info:before {
  content: "\f129";
}

/* line 281, font-awesome/scss/_icons.scss */
.icon-exclamation:before {
  content: "\f12a";
}

/* line 282, font-awesome/scss/_icons.scss */
.icon-superscript:before {
  content: "\f12b";
}

/* line 283, font-awesome/scss/_icons.scss */
.icon-subscript:before {
  content: "\f12c";
}

/* line 284, font-awesome/scss/_icons.scss */
.icon-eraser:before {
  content: "\f12d";
}

/* line 285, font-awesome/scss/_icons.scss */
.icon-puzzle-piece:before {
  content: "\f12e";
}

/* line 286, font-awesome/scss/_icons.scss */
.icon-microphone:before {
  content: "\f130";
}

/* line 287, font-awesome/scss/_icons.scss */
.icon-microphone-off:before {
  content: "\f131";
}

/* line 288, font-awesome/scss/_icons.scss */
.icon-shield:before {
  content: "\f132";
}

/* line 289, font-awesome/scss/_icons.scss */
.icon-calendar-empty:before {
  content: "\f133";
}

/* line 290, font-awesome/scss/_icons.scss */
.icon-fire-extinguisher:before {
  content: "\f134";
}

/* line 291, font-awesome/scss/_icons.scss */
.icon-rocket:before {
  content: "\f135";
}

/* line 292, font-awesome/scss/_icons.scss */
.icon-maxcdn:before {
  content: "\f136";
}

/* line 293, font-awesome/scss/_icons.scss */
.icon-chevron-sign-left:before {
  content: "\f137";
}

/* line 294, font-awesome/scss/_icons.scss */
.icon-chevron-sign-right:before {
  content: "\f138";
}

/* line 295, font-awesome/scss/_icons.scss */
.icon-chevron-sign-up:before {
  content: "\f139";
}

/* line 296, font-awesome/scss/_icons.scss */
.icon-chevron-sign-down:before {
  content: "\f13a";
}

/* line 297, font-awesome/scss/_icons.scss */
.icon-html5:before {
  content: "\f13b";
}

/* line 298, font-awesome/scss/_icons.scss */
.icon-css3:before {
  content: "\f13c";
}

/* line 299, font-awesome/scss/_icons.scss */
.icon-anchor:before {
  content: "\f13d";
}

/* line 300, font-awesome/scss/_icons.scss */
.icon-unlock-alt:before {
  content: "\f13e";
}

/* line 301, font-awesome/scss/_icons.scss */
.icon-bullseye:before {
  content: "\f140";
}

/* line 302, font-awesome/scss/_icons.scss */
.icon-ellipsis-horizontal:before {
  content: "\f141";
}

/* line 303, font-awesome/scss/_icons.scss */
.icon-ellipsis-vertical:before {
  content: "\f142";
}

/* line 304, font-awesome/scss/_icons.scss */
.icon-rss-sign:before {
  content: "\f143";
}

/* line 305, font-awesome/scss/_icons.scss */
.icon-play-sign:before {
  content: "\f144";
}

/* line 306, font-awesome/scss/_icons.scss */
.icon-ticket:before {
  content: "\f145";
}

/* line 307, font-awesome/scss/_icons.scss */
.icon-minus-sign-alt:before {
  content: "\f146";
}

/* line 308, font-awesome/scss/_icons.scss */
.icon-check-minus:before {
  content: "\f147";
}

/* line 309, font-awesome/scss/_icons.scss */
.icon-level-up:before {
  content: "\f148";
}

/* line 310, font-awesome/scss/_icons.scss */
.icon-level-down:before {
  content: "\f149";
}

/* line 311, font-awesome/scss/_icons.scss */
.icon-check-sign:before {
  content: "\f14a";
}

/* line 312, font-awesome/scss/_icons.scss */
.icon-edit-sign:before {
  content: "\f14b";
}

/* line 313, font-awesome/scss/_icons.scss */
.icon-external-link-sign:before {
  content: "\f14c";
}

/* line 314, font-awesome/scss/_icons.scss */
.icon-share-sign:before {
  content: "\f14d";
}

/* line 315, font-awesome/scss/_icons.scss */
.icon-compass:before {
  content: "\f14e";
}

/* line 316, font-awesome/scss/_icons.scss */
.icon-collapse:before {
  content: "\f150";
}

/* line 317, font-awesome/scss/_icons.scss */
.icon-collapse-top:before {
  content: "\f151";
}

/* line 318, font-awesome/scss/_icons.scss */
.icon-expand:before {
  content: "\f152";
}

/* line 320, font-awesome/scss/_icons.scss */
.icon-euro:before,
.icon-eur:before {
  content: "\f153";
}

/* line 321, font-awesome/scss/_icons.scss */
.icon-gbp:before {
  content: "\f154";
}

/* line 323, font-awesome/scss/_icons.scss */
.icon-dollar:before,
.icon-usd:before {
  content: "\f155";
}

/* line 325, font-awesome/scss/_icons.scss */
.icon-rupee:before,
.icon-inr:before {
  content: "\f156";
}

/* line 327, font-awesome/scss/_icons.scss */
.icon-yen:before,
.icon-jpy:before {
  content: "\f157";
}

/* line 329, font-awesome/scss/_icons.scss */
.icon-renminbi:before,
.icon-cny:before {
  content: "\f158";
}

/* line 331, font-awesome/scss/_icons.scss */
.icon-won:before,
.icon-krw:before {
  content: "\f159";
}

/* line 333, font-awesome/scss/_icons.scss */
.icon-bitcoin:before,
.icon-btc:before {
  content: "\f15a";
}

/* line 334, font-awesome/scss/_icons.scss */
.icon-file:before {
  content: "\f15b";
}

/* line 335, font-awesome/scss/_icons.scss */
.icon-file-text:before {
  content: "\f15c";
}

/* line 336, font-awesome/scss/_icons.scss */
.icon-sort-by-alphabet:before {
  content: "\f15d";
}

/* line 337, font-awesome/scss/_icons.scss */
.icon-sort-by-alphabet-alt:before {
  content: "\f15e";
}

/* line 338, font-awesome/scss/_icons.scss */
.icon-sort-by-attributes:before {
  content: "\f160";
}

/* line 339, font-awesome/scss/_icons.scss */
.icon-sort-by-attributes-alt:before {
  content: "\f161";
}

/* line 340, font-awesome/scss/_icons.scss */
.icon-sort-by-order:before {
  content: "\f162";
}

/* line 341, font-awesome/scss/_icons.scss */
.icon-sort-by-order-alt:before {
  content: "\f163";
}

/* line 342, font-awesome/scss/_icons.scss */
.icon-thumbs-up:before {
  content: "\f164";
}

/* line 343, font-awesome/scss/_icons.scss */
.icon-thumbs-down:before {
  content: "\f165";
}

/* line 344, font-awesome/scss/_icons.scss */
.icon-youtube-sign:before {
  content: "\f166";
}

/* line 345, font-awesome/scss/_icons.scss */
.icon-youtube:before {
  content: "\f167";
}

/* line 346, font-awesome/scss/_icons.scss */
.icon-xing:before {
  content: "\f168";
}

/* line 347, font-awesome/scss/_icons.scss */
.icon-xing-sign:before {
  content: "\f169";
}

/* line 348, font-awesome/scss/_icons.scss */
.icon-youtube-play:before {
  content: "\f16a";
}

/* line 349, font-awesome/scss/_icons.scss */
.icon-dropbox:before {
  content: "\f16b";
}

/* line 350, font-awesome/scss/_icons.scss */
.icon-stackexchange:before {
  content: "\f16c";
}

/* line 351, font-awesome/scss/_icons.scss */
.icon-instagram:before {
  content: "\f16d";
}

/* line 352, font-awesome/scss/_icons.scss */
.icon-flickr:before {
  content: "\f16e";
}

/* line 353, font-awesome/scss/_icons.scss */
.icon-adn:before {
  content: "\f170";
}

/* line 354, font-awesome/scss/_icons.scss */
.icon-bitbucket:before {
  content: "\f171";
}

/* line 355, font-awesome/scss/_icons.scss */
.icon-bitbucket-sign:before {
  content: "\f172";
}

/* line 356, font-awesome/scss/_icons.scss */
.icon-tumblr:before {
  content: "\f173";
}

/* line 357, font-awesome/scss/_icons.scss */
.icon-tumblr-sign:before {
  content: "\f174";
}

/* line 358, font-awesome/scss/_icons.scss */
.icon-long-arrow-down:before {
  content: "\f175";
}

/* line 359, font-awesome/scss/_icons.scss */
.icon-long-arrow-up:before {
  content: "\f176";
}

/* line 360, font-awesome/scss/_icons.scss */
.icon-long-arrow-left:before {
  content: "\f177";
}

/* line 361, font-awesome/scss/_icons.scss */
.icon-long-arrow-right:before {
  content: "\f178";
}

/* line 362, font-awesome/scss/_icons.scss */
.icon-apple:before {
  content: "\f179";
}

/* line 363, font-awesome/scss/_icons.scss */
.icon-windows:before {
  content: "\f17a";
}

/* line 364, font-awesome/scss/_icons.scss */
.icon-android:before {
  content: "\f17b";
}

/* line 365, font-awesome/scss/_icons.scss */
.icon-linux:before {
  content: "\f17c";
}

/* line 366, font-awesome/scss/_icons.scss */
.icon-dribble:before {
  content: "\f17d";
}

/* line 367, font-awesome/scss/_icons.scss */
.icon-skype:before {
  content: "\f17e";
}

/* line 368, font-awesome/scss/_icons.scss */
.icon-foursquare:before {
  content: "\f180";
}

/* line 369, font-awesome/scss/_icons.scss */
.icon-trello:before {
  content: "\f181";
}

/* line 370, font-awesome/scss/_icons.scss */
.icon-female:before {
  content: "\f182";
}

/* line 371, font-awesome/scss/_icons.scss */
.icon-male:before {
  content: "\f183";
}

/* line 372, font-awesome/scss/_icons.scss */
.icon-gittip:before {
  content: "\f184";
}

/* line 373, font-awesome/scss/_icons.scss */
.icon-sun:before {
  content: "\f185";
}

/* line 374, font-awesome/scss/_icons.scss */
.icon-moon:before {
  content: "\f186";
}

/* line 375, font-awesome/scss/_icons.scss */
.icon-archive:before {
  content: "\f187";
}

/* line 376, font-awesome/scss/_icons.scss */
.icon-bug:before {
  content: "\f188";
}

/* line 377, font-awesome/scss/_icons.scss */
.icon-vk:before {
  content: "\f189";
}

/* line 378, font-awesome/scss/_icons.scss */
.icon-weibo:before {
  content: "\f18a";
}

/* line 379, font-awesome/scss/_icons.scss */
.icon-renren:before {
  content: "\f18b";
}

/* line 5, compass_forum/_compass_forum_mobile.scss */
a {
  text-decoration: none;
}

/* line 9, compass_forum/_compass_forum_mobile.scss */
.push-right {
  float: right;
}

/* line 13, compass_forum/_compass_forum_mobile.scss */
.word-wrap {
  word-wrap: break-word;
  overflow: hidden;
}

/* line 18, compass_forum/_compass_forum_mobile.scss */
.text-center {
  text-align: center;
}

/* line 22, compass_forum/_compass_forum_mobile.scss */
.ui-link.active, .ui-link.active:hover {
  color: #e77b26 !important;
}

/* line 26, compass_forum/_compass_forum_mobile.scss */
.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 90%;
  display: inline-block;
  overflow: hidden;
}

/* line 34, compass_forum/_compass_forum_mobile.scss */
.vote {
  text-align: center;
}

/* line 38, compass_forum/_compass_forum_mobile.scss */
.text-right {
  text-align: right;
}

/* line 42, compass_forum/_compass_forum_mobile.scss */
ul, li {
  list-style: none;
}

/* line 50, compass_forum/_compass_forum_mobile.scss */
#transloadit .close {
  display: none !important;
}

/* line 58, compass_forum/_compass_forum_mobile.scss */
.pull-refresh-wrapper {
  position: absolute;
  z-index: 1;
  top: 0px;
  bottom: 0px;
  left: 0;
  width: 100%;
  background: white;
  overflow: hidden;
  padding: 0px;
}
/* line 69, compass_forum/_compass_forum_mobile.scss */
.pull-refresh-wrapper .pull-refresh-scroller {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
  padding: 15px;
  box-sizing: border-box;
}
/* line 93, compass_forum/_compass_forum_mobile.scss */
.pull-refresh-wrapper .pull-refresh-icon {
  position: absolute;
  bottom: 10px;
  width: 100%;
}
/* line 98, compass_forum/_compass_forum_mobile.scss */
.pull-refresh-wrapper .pull-refresh-icon .inner {
  margin: auto;
  width: 250px;
}
/* line 102, compass_forum/_compass_forum_mobile.scss */
.pull-refresh-wrapper .pull-refresh-icon .inner .label {
  display: inline-block;
  margin: 13px 0 0 10px;
}
/* line 107, compass_forum/_compass_forum_mobile.scss */
.pull-refresh-wrapper .pull-refresh-icon .inner .icon {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  background: url(../images/pull-icon.png) 0 0 no-repeat;
  -webkit-background-size: 40px 80px;
  background-size: 40px 80px;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 250ms;
}
/* line 119, compass_forum/_compass_forum_mobile.scss */
.pull-refresh-wrapper .pull-refresh-icon.flip .icon {
  -webkit-transform: rotate(-180deg) translateZ(0);
}
/* line 144, compass_forum/_compass_forum_mobile.scss */
.pull-refresh-wrapper .pull-refresh-icon.loading .icon {
  background-position: 0 100%;
  -webkit-transform: rotate(0deg) translateZ(0);
  -webkit-transition-duration: 0ms;
  -webkit-animation-name: loading;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes loading {
  /* line 158, compass_forum/_compass_forum_mobile.scss */
  from {
    -webkit-transform: rotate(0deg) translateZ(0);
  }

  /* line 159, compass_forum/_compass_forum_mobile.scss */
  to {
    -webkit-transform: rotate(360deg) translateZ(0);
  }
}

/* line 166, compass_forum/_compass_forum_mobile.scss */
.ui-btn-inner {
  padding: 0.6em 18px;
}

/* line 170, compass_forum/_compass_forum_mobile.scss */
#nav-panel.ui-panel {
  width: 8em;
}

/* line 173, compass_forum/_compass_forum_mobile.scss */
#nav-panel.ui-panel-closed {
  width: 0;
}

/* line 176, compass_forum/_compass_forum_mobile.scss */
.ui-panel-position-left.ui-panel-display-reveal {
  left: 0;
}

/* line 180, compass_forum/_compass_forum_mobile.scss */
.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open,
.ui-panel-dismiss-position-left.ui-panel-dismiss-open {
  left: 8em;
  right: -8em;
}

/* line 185, compass_forum/_compass_forum_mobile.scss */
.ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal,
.ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal {
  left: 0;
  right: 0;
  -webkit-transform: translate3d(8em, 0, 0);
  -moz-transform: translate3d(8em, 0, 0);
  transform: translate3d(8em, 0, 0);
}

/* line 194, compass_forum/_compass_forum_mobile.scss */
#nav-panel .ui-btn-text {
  position: static;
}
/* line 197, compass_forum/_compass_forum_mobile.scss */
#nav-panel .ui-btn-text .ui-icon.icon-2x {
  background: none;
  margin-left: -15px;
}

/* line 205, compass_forum/_compass_forum_mobile.scss */
form .ui-submit {
  filter: Alpha(Opacity=30);
  opacity: .3;
  zoom: 1;
  pointer-events: none;
  z-index: 1;
}
/* line 213, compass_forum/_compass_forum_mobile.scss */
form .ui-submit.active {
  filter: Alpha(Opacity=100);
  opacity: 1;
  pointer-events: auto;
}

/* line 232, compass_forum/_compass_forum_mobile.scss */
.post-item {
  text-decoration: none;
  position: relative;
}
/* line 236, compass_forum/_compass_forum_mobile.scss */
.post-item .content {
  width: 80%;
}
/* line 239, compass_forum/_compass_forum_mobile.scss */
.post-item .content .title {
  margin-bottom: 10px;
}
/* line 243, compass_forum/_compass_forum_mobile.scss */
.post-item .content .author, .post-item .content .forum {
  font-size: 0.8em;
}
/* line 247, compass_forum/_compass_forum_mobile.scss */
.post-item .content .activity {
  margin-top: 10px;
}
/* line 249, compass_forum/_compass_forum_mobile.scss */
.post-item .content .activity .icons-holder {
  display: inline-block;
}
/* line 252, compass_forum/_compass_forum_mobile.scss */
.post-item .content .activity .icons-holder a {
  float: left;
}
/* line 257, compass_forum/_compass_forum_mobile.scss */
.post-item .content .activity .avatar-holder {
  width: 40px;
  height: 40px;
}
/* line 261, compass_forum/_compass_forum_mobile.scss */
.post-item .content .activity .avatar-holder img {
  width: 100%;
}
/* line 266, compass_forum/_compass_forum_mobile.scss */
.post-item .content .activity .status {
  display: inline-block;
}
/* line 269, compass_forum/_compass_forum_mobile.scss */
.post-item .content .activity .status .count {
  margin-bottom: 10px;
}
/* line 273, compass_forum/_compass_forum_mobile.scss */
.post-item .content .activity .status .time {
  margin-bottom: 0;
}
/* line 280, compass_forum/_compass_forum_mobile.scss */
.post-item .vote {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: center;
}
/* line 286, compass_forum/_compass_forum_mobile.scss */
.post-item .vote .up {
  height: 32px;
}

/* line 296, compass_forum/_compass_forum_mobile.scss */
#LoginForm, #registerForm, #displayNameForm {
  margin: auto;
  width: 80%;
}
/* line 300, compass_forum/_compass_forum_mobile.scss */
#LoginForm input, #registerForm input, #displayNameForm input {
  text-align: center;
}
/* line 305, compass_forum/_compass_forum_mobile.scss */
#LoginForm .label-remember .ui-btn-inner, #registerForm .label-remember .ui-btn-inner, #displayNameForm .label-remember .ui-btn-inner {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

/* line 313, compass_forum/_compass_forum_mobile.scss */
#pickAvatarForm {
  margin: auto;
  width: 80%;
}
/* line 317, compass_forum/_compass_forum_mobile.scss */
#pickAvatarForm .default-avatar-list {
  padding-left: 0;
  margin-right: 40px;
}
/* line 321, compass_forum/_compass_forum_mobile.scss */
#pickAvatarForm .default-avatar-list li {
  width: 32%;
  display: inline-block;
}
/* line 325, compass_forum/_compass_forum_mobile.scss */
#pickAvatarForm .default-avatar-list li img {
  width: 100%;
}

/* line 337, compass_forum/_compass_forum_mobile.scss */
#commentForm textarea {
  height: 200px !important;
}
/* line 341, compass_forum/_compass_forum_mobile.scss */
#commentForm .actions {
  text-align: right;
}

/* line 347, compass_forum/_compass_forum_mobile.scss */
#comment-create-menu .sub-title {
  margin-top: 0;
}
/* line 352, compass_forum/_compass_forum_mobile.scss */
#comment-create-menu .author .avatar-holder {
  width: 25px;
  height: 25px;
  display: inline-block;
}
/* line 358, compass_forum/_compass_forum_mobile.scss */
#comment-create-menu .author img {
  width: 100%;
}
/* line 363, compass_forum/_compass_forum_mobile.scss */
#comment-create-menu .content {
  padding: 15px 0;
}

/* line 374, compass_forum/_compass_forum_mobile.scss */
.view-post .author .avatar-holder {
  width: 50px;
  height: 50px;
  display: inline-block;
}
/* line 379, compass_forum/_compass_forum_mobile.scss */
.view-post .author .avatar-holder img {
  width: 100%;
}
/* line 386, compass_forum/_compass_forum_mobile.scss */
.view-post .status-bar .lock-icon, .view-post .status-bar .sticky-icon {
  margin: 0 5px;
}
/* line 391, compass_forum/_compass_forum_mobile.scss */
.view-post .content {
  padding: 15px 0;
}
/* line 395, compass_forum/_compass_forum_mobile.scss */
.view-post .status {
  text-align: center;
}
/* line 400, compass_forum/_compass_forum_mobile.scss */
.view-post .comments ul {
  padding-left: 5px;
  border-left: 3px gray solid;
}
/* line 406, compass_forum/_compass_forum_mobile.scss */
.view-post .comment {
  padding: 10px 0 0;
}
/* line 409, compass_forum/_compass_forum_mobile.scss */
.view-post .comment .comment-body {
  padding: 5px 0;
}
/* line 414, compass_forum/_compass_forum_mobile.scss */
.view-post .comment .author .avatar-holder {
  width: 25px;
  height: 25px;
  display: inline-block;
}
/* line 420, compass_forum/_compass_forum_mobile.scss */
.view-post .comment .author img {
  width: 100%;
}
/* line 425, compass_forum/_compass_forum_mobile.scss */
.view-post .comment .vote {
  display: inline-block;
  float: right;
}

/* line 433, compass_forum/_compass_forum_mobile.scss */
.comment-pop .ui-controlgroup {
  margin: 0;
}

/* line 440, compass_forum/_compass_forum_mobile.scss */
#view-post-menu .action .ui-btn {
  display: inline-block;
}

/* line 451, compass_forum/_compass_forum_mobile.scss */
.create-edit-post textarea {
  height: 250px !important;
}

/* line 457, compass_forum/_compass_forum_mobile.scss */
#forum-list .forum-link {
  font-size: 20px;
}

/* line 466, compass_forum/_compass_forum_mobile.scss */
.profile {
  text-align: center;
}
/* line 470, compass_forum/_compass_forum_mobile.scss */
.profile .avatar-holder img {
  width: 100%;
  max-width: 400px;
  cursor: pointer;
}
/* line 477, compass_forum/_compass_forum_mobile.scss */
.profile .username {
  font-weight: bold;
  font-size: 20px;
}

/* line 484, compass_forum/_compass_forum_mobile.scss */
#profile-menu .ui-collapsible {
  border-radius: 1em;
}
/* line 489, compass_forum/_compass_forum_mobile.scss */
#profile-menu .edit-image .ui-btn-inner {
  text-align: center;
}

/* line 500, compass_forum/_compass_forum_mobile.scss */
.forum-list .top-level {
  padding-left: 0;
  margin: 0 0;
}
/* line 505, compass_forum/_compass_forum_mobile.scss */
.forum-list ul {
  padding-left: 15px;
}
/* line 509, compass_forum/_compass_forum_mobile.scss */
.forum-list li {
  margin: 10px 0;
}

/* line 518, compass_forum/_compass_forum_mobile.scss */
.manage-forums {
  font-size: 1.2em;
}

/* line 526, compass_forum/_compass_forum_mobile.scss */
.action-sheet {
  margin: 0 1em;
}

/* line 534, compass_forum/_compass_forum_mobile.scss */
#createForumForm {
  margin: auto;
  width: 80%;
}

/* line 543, compass_forum/_compass_forum_mobile.scss */
.ui-input-text .helper-icon {
  position: absolute;
  right: -35px;
  top: -2px;
}
/* line 550, compass_forum/_compass_forum_mobile.scss */
.ui-input-text .helper-icon.alert .ui-icon {
  background-color: red;
}
/* line 555, compass_forum/_compass_forum_mobile.scss */
.ui-input-text .helper-icon.success {
  pointer-events: none;
}
/* line 558, compass_forum/_compass_forum_mobile.scss */
.ui-input-text .helper-icon.success .ui-icon {
  background-color: green;
}

/* line 568, compass_forum/_compass_forum_mobile.scss */
.ui-header .description {
  margin: 5px 1em;
}

/* line 578, compass_forum/_compass_forum_mobile.scss */
#editPermissionForm .ui-header .ui-title {
  margin: 0.6em 0 0.8em;
}
/* line 581, compass_forum/_compass_forum_mobile.scss */
#editPermissionForm .ui-header .ui-submit {
  position: absolute;
  top: 4px;
  right: 5px;
}
/* line 589, compass_forum/_compass_forum_mobile.scss */
#editPermissionForm .edit-permission .ui-slider-switch {
  float: right;
  margin: -5px 0 0 0 !important;
}

/* jquery.Jcrop.css v0.9.12 - MIT License */
/*
  The outer-most container in a typical Jcrop instance
  If you are having difficulty with formatting related to styles
  on a parent element, place any fixes here or in a like selector

  You can also style this element if you want to add a border, etc
  A better method for styling can be seen below with .jcrop-light
  (Add a class to the holder and style elements for that extended class)
*/
/* line 11, plugins/_jquery.Jcrop.scss */
.jcrop-holder {
  direction: ltr;
  text-align: left;
}

/* Selection Border */
/* line 17, plugins/_jquery.Jcrop.scss */
.jcrop-vline,
.jcrop-hline {
  background: white url("../images/Jcrop.gif");
  font-size: 0;
  position: absolute;
}

/* line 22, plugins/_jquery.Jcrop.scss */
.jcrop-vline {
  height: 100%;
  width: 1px !important;
}

/* line 26, plugins/_jquery.Jcrop.scss */
.jcrop-vline.right {
  right: 0;
}

/* line 29, plugins/_jquery.Jcrop.scss */
.jcrop-hline {
  height: 1px !important;
  width: 100%;
}

/* line 33, plugins/_jquery.Jcrop.scss */
.jcrop-hline.bottom {
  bottom: 0;
}

/* Invisible click targets */
/* line 37, plugins/_jquery.Jcrop.scss */
.jcrop-tracker {
  height: 100%;
  width: 100%;
  /* "turn off" link highlight */
  -webkit-tap-highlight-color: transparent;
  /* disable callout, image save panel */
  -webkit-touch-callout: none;
  /* disable cut copy paste */
  -webkit-user-select: none;
}

/* Selection Handles */
/* line 48, plugins/_jquery.Jcrop.scss */
.jcrop-handle {
  background-color: #333333;
  border: 1px #eeeeee solid;
  width: 7px;
  height: 7px;
  font-size: 1px;
}

/* line 55, plugins/_jquery.Jcrop.scss */
.jcrop-handle.ord-n {
  left: 50%;
  margin-left: -4px;
  margin-top: -4px;
  top: 0;
}

/* line 61, plugins/_jquery.Jcrop.scss */
.jcrop-handle.ord-s {
  bottom: 0;
  left: 50%;
  margin-bottom: -4px;
  margin-left: -4px;
}

/* line 67, plugins/_jquery.Jcrop.scss */
.jcrop-handle.ord-e {
  margin-right: -4px;
  margin-top: -4px;
  right: 0;
  top: 50%;
}

/* line 73, plugins/_jquery.Jcrop.scss */
.jcrop-handle.ord-w {
  left: 0;
  margin-left: -4px;
  margin-top: -4px;
  top: 50%;
}

/* line 79, plugins/_jquery.Jcrop.scss */
.jcrop-handle.ord-nw {
  left: 0;
  margin-left: -4px;
  margin-top: -4px;
  top: 0;
}

/* line 85, plugins/_jquery.Jcrop.scss */
.jcrop-handle.ord-ne {
  margin-right: -4px;
  margin-top: -4px;
  right: 0;
  top: 0;
}

/* line 91, plugins/_jquery.Jcrop.scss */
.jcrop-handle.ord-se {
  bottom: 0;
  margin-bottom: -4px;
  margin-right: -4px;
  right: 0;
}

/* line 97, plugins/_jquery.Jcrop.scss */
.jcrop-handle.ord-sw {
  bottom: 0;
  left: 0;
  margin-bottom: -4px;
  margin-left: -4px;
}

/* Dragbars */
/* line 105, plugins/_jquery.Jcrop.scss */
.jcrop-dragbar.ord-n,
.jcrop-dragbar.ord-s {
  height: 7px;
  width: 100%;
}

/* line 110, plugins/_jquery.Jcrop.scss */
.jcrop-dragbar.ord-e,
.jcrop-dragbar.ord-w {
  height: 100%;
  width: 7px;
}

/* line 114, plugins/_jquery.Jcrop.scss */
.jcrop-dragbar.ord-n {
  margin-top: -4px;
}

/* line 117, plugins/_jquery.Jcrop.scss */
.jcrop-dragbar.ord-s {
  bottom: 0;
  margin-bottom: -4px;
}

/* line 121, plugins/_jquery.Jcrop.scss */
.jcrop-dragbar.ord-e {
  margin-right: -4px;
  right: 0;
}

/* line 125, plugins/_jquery.Jcrop.scss */
.jcrop-dragbar.ord-w {
  margin-left: -4px;
}

/* The "jcrop-light" class/extension */
/* line 130, plugins/_jquery.Jcrop.scss */
.jcrop-light .jcrop-vline,
.jcrop-light .jcrop-hline {
  background: #ffffff;
  filter: alpha(opacity=70) !important;
  opacity: 0.7 !important;
}

/* line 135, plugins/_jquery.Jcrop.scss */
.jcrop-light .jcrop-handle {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #000000;
  border-color: #ffffff;
  border-radius: 3px;
}

/* The "jcrop-dark" class/extension */
/* line 144, plugins/_jquery.Jcrop.scss */
.jcrop-dark .jcrop-vline,
.jcrop-dark .jcrop-hline {
  background: #000000;
  filter: alpha(opacity=70) !important;
  opacity: 0.7 !important;
}

/* line 149, plugins/_jquery.Jcrop.scss */
.jcrop-dark .jcrop-handle {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #ffffff;
  border-color: #000000;
  border-radius: 3px;
}

/* Simple macro to turn off the antlines */
/* line 158, plugins/_jquery.Jcrop.scss */
.solid-line .jcrop-vline,
.solid-line .jcrop-hline {
  background: #ffffff;
}

/* Fix for twitter bootstrap et al. */
/* line 163, plugins/_jquery.Jcrop.scss */
.jcrop-holder img,
img.jcrop-preview {
  max-width: none;
}
