<ul class="nav nav-pills">
    <li class="dropdown">
        <a class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown" href="#">Change Forum <b class="caret"></b></a>
        <ul id="forummenu" class="dropdown-menu" role="menu" aria-labelledby="drop4"></ul>
    </li>
</ul>