{% extends "layout/header-content.html" %}

{% block contentInner %}
    <form action="" method="post" id="createForumForm">
        {{ form.csrf_token }}
        <label for="forumName">Please give your forum a name:</label>
        <input data-clear-btn="true" type="text" placeholder="Forum Name" name="forumName" id="forumName" value="{% if form.forumName.data %}{{ form.forumName.data }}{% endif %}">
        <div class="ui-hidden popup">
            {% if form.errors['forumName'] %}
                <p>
                    {% for error in form.errors['forumName'] %}
                        {{ error }}
                    {% endfor %}
                </p>
            {% endif %}
        </div>
        <label for="forumSlug">URL: www.xzforum.com/</label>
        <input data-clear-btn="true" type="text" placeholder="URL" name="forumSlug" id="forumSlug" value="{% if form.forumSlug.data %}{{ form.forumSlug.data }}{% endif %}">
        <div class="ui-hidden popup">
            {% if form.errors['forumSlug'] %}
                <p>
                    {% for error in form.errors['forumSlug'] %}
                        {{ error }}
                    {% endfor %}
                </p>
            {% endif %}
        </div>
        <input type="hidden" name="parentId" value="{{ parentId }}">
        <input type="hidden" name="copyFrom" value="">
        <div class="text-right">
            <input data-role="cancel" type="button" data-inline="true" value="Cancel">
            <input type="submit" data-role="button" data-inline="true" data-theme="b" value="Next">
        </div>
    </form>
{% endblock %}

{% block help_pages %}
    <div data-role="page" id="forum-list">
        <div data-role="header" data-theme="c">
            <div class="description">Please select the forum that you want to copy the permission setting from</div>
        </div>
        <div data-role="content">
            <div class="forum-list">
                {% include "forum/forumList.html" %}
            </div>
        </div>
    </div>
{% endblock %}