{% extends "layout/base.html" %}

{% block content %}
    <form action="" method="post" id="editPermissionForm">
    {{ form.csrf_token }}
    <div data-role="header" data-theme="c" data-position="fixed" data-tap-toggle="false">
        <a data-role="button" class="cancel">Cancel</a>
        <h1>Editing {{ role.name }} permission</h1>
        <input type="submit" data-theme="b" value="Save">
    </div>
    <ul data-role="listview" class="edit-permission">
        <li>
            <select name="canReadForum" id="canReadForum" data-role="slider" data-mini="true">
                <option value="0">Off</option>
                <option value="1" {% if permission.canReadForum %}selected=""{% endif %}>On</option>
            </select>
            <label for="canReadForum">View {{ forum.title }}</label>
        </li>
        <li>
            <select name="canCreatePost" id="canCreatePost" data-role="slider" data-mini="true">
                <option value="0">Off</option>
                <option value="1" {% if permission.canCreatePost %}selected=""{% endif %}>On</option>
            </select>
            <label for="canCreatePost">Create post in {{ forum.title }}</label>
        </li>
        <li>
            <select name="canReadPost" id="canReadPost" data-role="slider" data-mini="true">
                <option value="0">Off</option>
                <option value="1" {% if permission.canReadPost %}selected=""{% endif %}>On</option>
            </select>
            <label for="canReadPost">View post in {{ forum.title }}</label>
        </li>
        <li>
            <select name="canUpdatePost" id="canUpdatePost" data-role="slider" data-mini="true">
                <option value="0">Off</option>
                <option value="1" {% if permission.canUpdatePost %}selected=""{% endif %}>On</option>
            </select>
            <label for="canUpdatePost">Edit post in {{ forum.title }}</label>
        </li>
        <li>
            <select name="canDeletePost" id="canDeletePost" data-role="slider" data-mini="true">
                <option value="0">Off</option>
                <option value="1" {% if permission.canDeletePost %}selected=""{% endif %}>On</option>
            </select>
            <label for="canDeletePost">Delete post in {{ forum.title }}</label>
        </li>
        <li>
            <select name="canCreateComment" id="canCreateComment" data-role="slider" data-mini="true">
                <option value="0">Off</option>
                <option value="1" {% if permission.canCreateComment %}selected=""{% endif %}>On</option>
            </select>
            <label for="canCreateComment">Create comment in {{ forum.title }}</label>
        </li>
        <li>
            <select name="canReadComment" id="canReadComment" data-role="slider" data-mini="true">
                <option value="0">Off</option>
                <option value="1" {% if permission.canReadComment %}selected=""{% endif %}>On</option>
            </select>
            <label for="canReadComment">View comment in {{ forum.title }}</label>
        </li>
        <li>
            <select name="canUpdateComment" id="canUpdateComment" data-role="slider" data-mini="true">
                <option value="0">Off</option>
                <option value="1" {% if permission.canUpdateComment %}selected=""{% endif %}>On</option>
            </select>
            <label for="canUpdateComment">Edit comment in {{ forum.title }}</label>
        </li>
        <li>
            <select name="canDeleteComment" id="canDeleteComment" data-role="slider" data-mini="true">
                <option value="0">Off</option>
                <option value="1" {% if permission.canDeleteComment %}selected=""{% endif %}>On</option>
            </select>
            <label for="canDeleteComment">Delete comment in {{ forum.title }}</label>
        </li>
        <li>
            <select name="canReadVoteOnTopic" id="canReadVoteOnTopic" data-role="slider" data-mini="true">
                <option value="0">Off</option>
                <option value="1" {% if permission.canReadVoteOnTopic %}selected=""{% endif %}>On</option>
            </select>
            <label for="canReadVoteOnTopic">View vote on topic in {{ forum.title }}</label>
        </li>
        <li>
            <select name="canVoteUpOnTopic" id="canVoteUpOnTopic" data-role="slider" data-mini="true">
                <option value="0">Off</option>
                <option value="1" {% if permission.canVoteUpOnTopic %}selected=""{% endif %}>On</option>
            </select>
            <label for="canVoteUpOnTopic">Upvote on topic in {{ forum.title }}</label>
        </li>
        <li>
            <select name="canVoteDownOnTopic" id="canVoteDownOnTopic" data-role="slider" data-mini="true">
                <option value="0">Off</option>
                <option value="1" {% if permission.canVoteDownOnTopic %}selected=""{% endif %}>On</option>
            </select>
            <label for="canVoteDownOnTopic">Downvote on topic in {{ forum.title }}</label>
        </li>
        <li>
            <select name="canUpdateVotesOnTopic" id="canUpdateVotesOnTopic" data-role="slider" data-mini="true">
                <option value="0">Off</option>
                <option value="1" {% if permission.canUpdateVotesOnTopic %}selected=""{% endif %}>On</option>
            </select>
            <label for="canUpdateVotesOnTopic">Update vote count on topic in {{ forum.title }}</label>
        </li>
    </ul>
    </form>
{% endblock %}