{% extends "layout/header-nav-content.html" %}

{% block contentInner %}
    <ul data-role="listview" data-split-icon="arrow-u">
        {% for role in roles %}
            <li class="role">
                <a href="#" class="role-item">
                    <h2>{{ role.name }}</h2>
                    {% if role.description %}<p>{{ role. description}}</p>{% endif %}
                </a>
                <a href="/admin/user_list" class="role-split-icon" data-theme="c"></a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}