{% extends "layout/header-nav-content.html" %}

{% block contentInner %}
    <a data-role="button" href="/admin/{% if current_user.id %}{{ current_user.display_name }}/{% endif %}manage_forums/">Manage forums</a>
    <a data-role="button" href="/admin/{% if current_user.id %}{{ current_user.display_name }}/{% endif %}manage_groups/">Manage groups</a>
    <a data-role="button" href="/admin/{% if current_user.id %}{{ current_user.display_name }}/{% endif %}report_center/">Report center</a>
    <a data-role="button" href="/admin/{% if current_user.id %}{{ current_user.display_name }}/{% endif %}analytics/">Analytics</a>
{% endblock %}