<form action="/login/" method="post" class="form" name="login">
    <h2 class="form-heading">Please login</h2>
    <div id="login-username" class="control-group">
        <input type="text" class="input-block-level" placeholder="Username" name="username" value="">
        <span class="help-inline"></span>
    </div>
    <div id="login-password" class="control-group">
        <input type="password" class="input-block-level" placeholder="Password" name="password" value="">
        <span class="help-inline"></span>
    </div>
    <div class="control-group remember-me">
        <input type="checkbox" name="remember"> Remember me
        <a class='pull-right' href="/register?next={{ next }}">No account? Register</a>
    </div>
    <input class="btn btn-primary btn-large" type="submit" value="Login">
    <input class="btn btn-primary btn-large" type="reset" value="Cancel">
</form>