<h2 class="form-heading">Please register</h2>
<div id="register-username" class="control-group">
	<input type="text" class="input-block-level" placeholder="Username">
</div>
<div id="register-password" class="control-group">
	<input type="password" class="input-block-level" placeholder="Password">
</div>
<input type="text" id="register-displayname" class="input-block-level" placeholder="Displayname">
<button id="register-submit" class="btn btn-primary btn-large" type="button">register</button>