{% extends "layout/header-nav-content.html" %}

{% block contentInner %}
    <form action="{{ req.path }}" method="post" class="create-edit-post">
        {{ form.csrf_token }}
        <div data-role="popup">
            {% if form.errors.title %}
                <span>
                    <i class="icon-warning-sign"></i>
                    {% for error in form.errors.title %}
                        {{ error }}
                    {% endfor %}
                </span>
            {% endif %}
        </div>
        <input type="text" class="title" name="title" placeholder="This is a title" maxlength="512" value="{% if post %}{{ post.title }}{% endif %}">

        <div data-role="popup">
            {% if form.errors.body %}
                <span>
                <i class="icon-warning-sign"></i>
                    {% for error in form.errors.body %}
                        {{ error }}
                    {% endfor %}
            </span>
            {% endif %}
        </div>
        <textarea placeholder="This is body ..." name="body" maxlength="63206">{% if post %}{{ post.body }}{% endif %}</textarea>
        <input type="hidden" name="forumId" value="{% if post %}{{ post.forum.id }}{% elif current_forum %}{{ current_forum.id }}{% else %}{{ forums[0].id }}{% endif %}">
        <div class="actions text-right">
            <a data-role="button" class="forum-picker" data-icon="arrow-d" data-iconpos="right">{% if post %}{{ post.forum.title }}{% elif current_forum %}{{ current_forum.title }}{% else %}{{ forums[0].title }}{% endif %}</a>
            <a data-role="button" class="cancel" data-inline="true">Cancel</a>
            <input type="submit" data-theme="b" data-inline="true" value="Submit">
        </div>
    </form>
{% endblock %}

{% block help_pages %}
    <div data-role="page" id="forum-list">
        <div data-role="header" data-theme="c">
            <a data-role="button" class="back-btn" data-icon="arrow-l">Back</a>
            <h1></h1>
        </div>
        <div data-role="content">
            <div class="forum-list">
                {% include "forum/forumList.html" %}
            </div>
        </div>
    </div>
{% endblock %}