{% extends "layout/header-nav-content.html" %}

{% block contentInner %}
    <div class="view-post">
        <div class="post">
            <div class="author">
                <a class="text-ellipsis" href="/user/{{ post.author.display_name }}/">
                    <div class="avatar-holder">
                        <img src="{% if post.author and post.author.avatar %}{{ post.author.avatar.url }}{% else %}{{url_for('frontend.static', filename='images/default_avatar.jpeg')}}{% endif %}" />
                    </div>
                    {{post.author.display_name}}
                </a>
            </div>
            <span>{{ post.timestamp }}</span>
            <h3 class="word-wrap">{{post.title}}</h3>
            <div class="status-bar">
                <i class="icon-list"></i> <a class="text-ellipsis" href="/{{ post.forum.forum_slug }}/">{{post.forum.title}}</a>
                {% if post.controller.canLockPostPermission %}<span class="lock"><i class="lock-icon push-right {% if post.lock %}icon-lock{% else %}icon-unlock-alt{% endif %}"></i></span>{% endif %}
                {% if post.controller.canStickPostPermission %}<span class="sticky"><i class="sticky-icon push-right {% if post.sticky %}icon-pushpin{% else %}icon-sort{% endif %}"></i></span>{% endif %}
            </div>
            <hr/>
            <div class="content word-wrap">{{post.body}}</div>
            <div class="vote">
                <div class="up {% if not post.controller.canVoteUpOnTopic %}ui-hidden{% endif %}">
                    <a href="{{ req.path }}?post={{ post.id }}&vote={% if post.my_vote_number == 1 %}0{% else %}1{% endif %}" class="link {% if post.my_vote_number == 1 %}active{% endif %}">
                        <i class="icon-2x icon-arrow-up"></i>
                    </a>
                </div>
                <div class="display">{{post.points}}</div>
                <div class="down {% if not post.controller.canVoteDownOnTopic %}ui-hidden{% endif %}">
                    <a href="{{ req.path }}?post={{ post.id }}&vote={% if post.my_vote_number == -1 %}0{% else %}-1{% endif %}" class="link {% if post.my_vote_number == -1 %}active{% endif %}">
                        <i class="icon-2x icon-arrow-down"></i>
                    </a>
                </div>
            </div>
            <div class="status">
                <a data-role="button" class="add-comment {% if not post.controller.canCreateComment %}ui-hidden{% endif %}" data-icon="edit" data-inline="true" class="" href="/{{ post.forum.forum_slug }}/{{ post.id }}/{{ post.title|format_slug }}/add_comment/">{{ post.comments_count }}</a>
                <a data-role="button" data-icon="star" data-inline="true" class="follow {% if post.is_followed %}ui-btn-active{% endif %}" href="{{ req.path }}?post={{ post.id }}&follow={% if post.is_followed %}0{% else %}1{% endif %}">{{ post.follower_count }}</a>
                <a data-role="button" data-icon="forward" data-inline="true" href="/{{ post.forum.forum_slug }}/{{ post.id }}/{{ post.title|format_slug }}/share/">{{ post.share_count }}</a>
            </div>
        </div>
        <div class="comments">
            <ul>
                {% for comment in comments %}
                    {% if comment.indent_flag == -1 %}
                        {% for _ in range( comment.level, comment.flag_level) %}
                            </ul>
                        {% endfor %}
                    {% elif comment.indent_flag == 1 %}
                        <ul>
                    {% endif %}
                        <li class="comment" data-id="{{ comment.id }}" data-myvote="{{ comment.my_vote_number }}" data-forum-slug="{{ forum_slug }}" data-post-id="{{ post.id }}" data-post-slug="{{ post.title|format_slug }}">
                            {% if comment.active %}
                            <div class="vote">
                                <div class="up">
                                    <a href="/{{ forum_slug }}/{{ post.id }}/{{ post.title|format_slug }}/comment/{{ comment.id }}?vote={% if comment.my_vote_number == 1 %}0{% else %}1{% endif %}" class="link {% if comment.my_vote_number == 1 %}active{% endif %}">
                                        <i class="icon-arrow-up"></i>
                                    </a>
                                </div>
                                <div class="display">{{comment.points}}</div>
                                <div class="down">
                                    <a href="/{{ forum_slug }}/{{ post.id }}/{{ post.title|format_slug }}/comment/{{ comment.id }}?vote={% if comment.my_vote_number == -1 %}0{% else %}-1{% endif %}" class="link {% if comment.my_vote_number == -1 %}active{% endif %}">
                                        <i class="icon-arrow-down"></i>
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                            <div class="body">
                                <div class="author">
                                    <a class="text-ellipsis" href="/user/{{ comment.author.display_name }}">
                                        <div class="avatar-holder">
                                            <img src="{% if comment.author and comment.author.avatar %}{{ comment.author.avatar.url }}{% else %}{{url_for('frontend.static', filename='images/default_avatar.jpeg')}}{% endif %}" />
                                        </div>
                                        {{ comment.author.display_name }}
                                    </a>
                                </div>
                                <span>
                                    {{ comment.operation }} &nbsp;{{ comment.fields['number'] }}&nbsp;{{ comment.fields['unit'] }}{% if comment.fields['number'] > 1 %}s{% endif %}&nbsp;ago
                                </span>
                                <div class="comment-body word-wrap">
                                    {{ comment.activated_body }}
                                </div>
                            </div>
                        {% if comment.active %}
                        <!--div class="action">
                            <a class="btn btn-small" href="/{{ forum_slug }}/{{ post.id }}/{{ post.title|format_slug }}/comment/{{ comment.id }}/add_comment/"><i class="icon-edit"></i>Add</a>
                            <a class="btn btn-small" href="/{{ forum_slug }}/{{ post.id }}/{{ post.title|format_slug }}/comment/{{ comment.id }}/edit/"><i class="icon-edit"></i>Edit</a>
                            <a class="btn btn-small delete" href="/{{ forum_slug }}/{{ post.id }}/{{ post.title|format_slug }}/comment/{{ comment.id }}/delete/"><i class="icon-remove"></i>Delete</a>
                        </div-->
                        {% endif %}
                    </li>
                    {% if loop.last %}
                        {% for _ in range(0, comment.flag_level) %}
                            </ul>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block menuButton %}
    <a href="#view-post-menu" data-icon="arrow-r" data-iconpos="right">Menu</a>
{% endblock %}

{% block menuPanel %}
    <div data-role="panel" id="view-post-menu" data-position="right" data-position-fixed="true" data-forum="{{ post.forum.forum_slug }}" data-id="{{ post.id }}" data-myvote="{{ post.my_vote_number }}" data-follower="{{ post.follower_count }}" data-isfollowed="{{ post.is_followed }}">
        {% if current_user.id and current_user.can_admin_permission %}
        <a href="/admin/{% if current_user.id %}{{ current_user.display_name }}/{% endif %}" data-role="button" data-icon="gear">Admin</a>
        {% endif %}
        <div class="vote">
            <div class="up {% if not post.controller.canVoteUpOnTopic %}ui-hidden{% endif %}"><a href="{{ req.path }}?vote={% if post.my_vote_number == 1 %}0{% else %}1{% endif %}" class="link {% if post.my_vote_number == 1 %}active{% endif %}"><i class="icon-2x icon-arrow-up"></i></a></div>
            <div class="display">{{post.points}}</div>
            <div class="down {% if not post.controller.canVoteDownOnTopic %}ui-hidden{% endif %}"><a href="{{ req.path }}?vote={% if post.my_vote_number == -1 %}0{% else %}-1{% endif %}" class="link {% if post.my_vote_number == -1 %}active{% endif %}"><i class="icon-2x icon-arrow-down"></i></a></div>
        </div>
        <div class="status">
            <a data-role="button" class="add-comment {% if not post.controller.canCreateComment %}ui-hidden{% endif %}" data-icon="edit" href="/{{ post.forum.forum_slug }}/{{ post.id }}/{{ post.title|format_slug }}/add_comment"><span class="comments_count">{{ post.comments_count }}</span></a>
            <a data-role="button" data-icon="star" class="follow {% if post.is_followed %}ui-btn-active{% endif %}" href="{{ req.path }}?follow={% if post.is_followed %}0{% else %}1{% endif %}"><span class="follow_count">{{ post.follower_count }}</span></a>
            <a data-role="button" data-icon="forward" href="/{{ post.forum.forum_slug }}/{{ post.id }}/{{ post.title|format_slug }}/share/">{{ post.share_count }}</a>
        </div>
        <div class="action">
            <a data-role="button"><i class="icon-3x icon-twitter"></i></a>
            <a data-role="button"><i class="icon-3x icon-facebook"></i></a>
            <a data-role="button"><i class="icon-3x icon-envelope"></i></a>
            <a data-role="button" class="edit {% if not post.controller.canUpdatePost %}ui-hidden{% endif %}" href="/{{ post.forum.forum_slug }}/{{ post.id }}/edit/{{ post.title|format_slug }}"><i class="icon-3x icon-edit"></i></a>
            <a data-role="button" class="delete {% if not post.controller.canDeletePost %}ui-hidden{% endif %}" href="/{{ post.forum.forum_slug }}/{{ post.id }}/delete/{{ post.title|format_slug }}"><i class="icon-3x icon-trash"></i></a>
            {% if post.controller.canLockPostPermission %}<a data-role="button" class="lock" data-lock="{% if post.lock %}1{% else %}0{% endif %}"><i class="icon-3x {% if post.lock %}icon-lock{% else %}icon-unlock-alt{% endif %}"></i></a>{% endif %}
            {% if post.controller.canStickPostPermission %}<a data-role="button" class="sticky" data-sticky="{% if post.sticky %}1{% else %}0{% endif %}"><i class="icon-3x {% if post.sticky %}icon-pushpin{% else %}icon-sort{% endif %}"></i></a>{% endif %}
        </div>
    </div>
{% endblock %}