<div class="navbar headerbar" id="headerbar">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar btn-navbar-header" data-action="toggle-left-nav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <a class="brand" href="#">XZForums</a>

            <a class="btn btn-navbar btn-navbar-contentnav"  data-action="toggle-right-nav">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

        </div>
    </div>
</div>