<!--navigator bar-->
<div class="navbar headerbar affix">
    <div class="navbar-inner">
        <div class="nav-collapse">
            <a class="brand" href="/">XZForums</a>

            <ul class="nav">
                <li id="navbar-home">
                    <a href="#">
                        <i class="icon-home"></i> Home
                    </a>
                </li>
                <li id="navbar-profile">
                    <a href="#">
                        <i class="icon-user"></i> Profile
                    </a>
                </li>
                <li>
                    <a href="#" class="has-badge">
                        <i class="icon-bullhorn"></i> News
                        <span class="badge badge-important">12</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-search"></i> Search
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-cogs"></i> Settings
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-comments"></i> PM
                    </a>
                </li>
            </ul>
            <ul class="nav pull-right">
                <!--Change href="#" to javascript:void(0)-->
                <li id="navbar-login"><a href="javascript:void(0)"><i class="icon-lock"></i> Login</a></li>
                <li class="divider-vertical"></li>
                <!--Change href="#" to javascript:void(0), href="#" will navigate from register page to index page again-->
                <li id="navbar-register"><a href="javascript:void(0)"><i class="icon-share-alt"></i> Register</a></li>
            </ul>
        </div>
    </div>
</div>
