/*
 *  Font Awesome 3.0.2
 *  the iconic font designed for use with Twitter Bootstrap
 *  -------------------------------------------------------
 *  The full suite of pictographic icons, examples, and documentation
 *  can be found at: http://fortawesome.github.com/Font-Awesome/
 *
 *  License
 *  -------------------------------------------------------
 *  - The Font Awesome font is licensed under the SIL Open Font License - http://scripts.sil.org/OFL
 *  - Font Awesome CSS, LESS, and SASS files are licensed under the MIT License -
 *    http://opensource.org/licenses/mit-license.html
 *  - The Font Awesome pictograms are licensed under the CC BY 3.0 License - http://creativecommons.org/licenses/by/3.0/
 *  - Attribution is no longer required in Font Awesome 3.0, but much appreciated:
 *    "Font Awesome by Dave Gandy - http://fortawesome.github.com/Font-Awesome"
 *
 *  Contact
 *  -------------------------------------------------------
 *  Email: dave@davegandy.com
 *  Twitter: http://twitter.com/fortaweso_me
 *  Work: Lead Product Designer @ http://kyruus.com
 */
@font-face {
  font-family: 'FontAwesome';
  src: url("font/fontawesome-webfont.eot?v=3.0.1");
  src: url("font/fontawesome-webfont.eot?#iefix&v=3.0.1") format("embedded-opentype"), url("font/fontawesome-webfont.woff?v=3.0.1") format("woff"), url("font/fontawesome-webfont.ttf?v=3.0.1") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*  Font Awesome styles
    ------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\0000343}}
[class^="icon-"],
[class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  /* sprites.less reset */
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}

/* more sprites.less reset */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\0000375}}
.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
  background-image: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\0000380}}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none;
}

/* makes sure icons active on rollover in links */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\0000389}}
a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
}

/* makes the font 33% larger relative to the icon container */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\0000395}}
.icon-large:before {
  vertical-align: -10%;
  font-size: 1.3333333333333333em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003102}}
.btn [class^="icon-"],
.btn [class*=" icon-"], .nav [class^="icon-"],
.nav [class*=" icon-"] {
  display: inline;
  /* keeps button heights with and without icons the same */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003105}}
.btn [class^="icon-"].icon-large,
.btn [class*=" icon-"].icon-large, .nav [class^="icon-"].icon-large,
.nav [class*=" icon-"].icon-large {
  line-height: .9em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003106}}
.btn [class^="icon-"].icon-spin,
.btn [class*=" icon-"].icon-spin, .nav [class^="icon-"].icon-spin,
.nav [class*=" icon-"].icon-spin {
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003112}}
.nav-tabs [class^="icon-"],
.nav-tabs [class*=" icon-"], .nav-pills [class^="icon-"],
.nav-pills [class*=" icon-"] {
  /* keeps button heights with and without icons the same */
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003114}}
.nav-tabs [class^="icon-"], .nav-tabs [class^="icon-"].icon-large,
.nav-tabs [class*=" icon-"],
.nav-tabs [class*=" icon-"].icon-large, .nav-pills [class^="icon-"], .nav-pills [class^="icon-"].icon-large,
.nav-pills [class*=" icon-"],
.nav-pills [class*=" icon-"].icon-large {
  line-height: .9em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003120}}
li [class^="icon-"],
li [class*=" icon-"], .nav li [class^="icon-"],
.nav li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003124}}
li [class^="icon-"].icon-large,
li [class*=" icon-"].icon-large, .nav li [class^="icon-"].icon-large,
.nav li [class*=" icon-"].icon-large {
  /* increased font size for icon-large */
  width: 1.5625em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003131}}
ul.icons {
  list-style-type: none;
  text-indent: -.75em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003137}}
ul.icons li [class^="icon-"],
ul.icons li [class*=" icon-"] {
  width: .75em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003143}}
.icon-muted {
  color: #eeeeee;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003150}}
.icon-border {
  border: solid 1px #eeeeee;
  padding: 0.2em 0.25em 0.15em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003159}}
.icon-2x {
  font-size: 2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003161}}
.icon-2x.icon-border {
  border-width: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003166}}
.icon-3x {
  font-size: 3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003168}}
.icon-3x.icon-border {
  border-width: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003173}}
.icon-4x {
  font-size: 4em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003175}}
.icon-4x.icon-border {
  border-width: 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003185}}
.pull-right {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003186}}
.pull-left {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003190}}
[class^="icon-"].pull-left,
[class*=" icon-"].pull-left {
  margin-right: .3em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003193}}
[class^="icon-"].pull-right,
[class*=" icon-"].pull-right {
  margin-left: .3em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003202}}
.btn [class^="icon-"].pull-left.icon-2x, .btn [class^="icon-"].pull-right.icon-2x,
.btn [class*=" icon-"].pull-left.icon-2x,
.btn [class*=" icon-"].pull-right.icon-2x {
  margin-top: .18em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003204}}
.btn [class^="icon-"].icon-spin.icon-large,
.btn [class*=" icon-"].icon-spin.icon-large {
  line-height: .8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003212}}
.btn.btn-small [class^="icon-"].pull-left.icon-2x, .btn.btn-small [class^="icon-"].pull-right.icon-2x,
.btn.btn-small [class*=" icon-"].pull-left.icon-2x,
.btn.btn-small [class*=" icon-"].pull-right.icon-2x {
  margin-top: .25em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003219}}
.btn.btn-large [class^="icon-"],
.btn.btn-large [class*=" icon-"] {
  margin-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003222}}
.btn.btn-large [class^="icon-"].pull-left.icon-2x, .btn.btn-large [class^="icon-"].pull-right.icon-2x,
.btn.btn-large [class*=" icon-"].pull-left.icon-2x,
.btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-top: .05em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003224}}
.btn.btn-large [class^="icon-"].pull-left.icon-2x,
.btn.btn-large [class*=" icon-"].pull-left.icon-2x {
  margin-right: .2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003225}}
.btn.btn-large [class^="icon-"].pull-right.icon-2x,
.btn.btn-large [class*=" icon-"].pull-right.icon-2x {
  margin-left: .2em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003230}}
.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  /* line 239, ../../app/styles/_font-awesome.scss */
  0% {
    -moz-transform: rotate(0deg);
  }

  /* line 240, ../../app/styles/_font-awesome.scss */
  100% {
    -moz-transform: rotate(359deg);
  }
}

@-webkit-keyframes spin {
  /* line 243, ../../app/styles/_font-awesome.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 244, ../../app/styles/_font-awesome.scss */
  100% {
    -webkit-transform: rotate(359deg);
  }
}

@-o-keyframes spin {
  /* line 247, ../../app/styles/_font-awesome.scss */
  0% {
    -o-transform: rotate(0deg);
  }

  /* line 248, ../../app/styles/_font-awesome.scss */
  100% {
    -o-transform: rotate(359deg);
  }
}

@-ms-keyframes spin {
  /* line 251, ../../app/styles/_font-awesome.scss */
  0% {
    -ms-transform: rotate(0deg);
  }

  /* line 252, ../../app/styles/_font-awesome.scss */
  100% {
    -ms-transform: rotate(359deg);
  }
}

@keyframes spin {
  /* line 255, ../../app/styles/_font-awesome.scss */
  0% {
    transform: rotate(0deg);
  }

  /* line 256, ../../app/styles/_font-awesome.scss */
  100% {
    transform: rotate(359deg);
  }
}

@-moz-document url-prefix() {
  /* line 260, ../../app/styles/_font-awesome.scss */
  .icon-spin {
    height: .9em;
  }

  /* line 261, ../../app/styles/_font-awesome.scss */
  .btn .icon-spin {
    height: auto;
  }

  /* line 262, ../../app/styles/_font-awesome.scss */
  .icon-spin.icon-large {
    height: 1.25em;
  }

  /* line 263, ../../app/styles/_font-awesome.scss */
  .btn .icon-spin.icon-large {
    height: .75em;
  }
}

/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003268}}
.icon-glass:before {
  content: "\f000";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003269}}
.icon-music:before {
  content: "\f001";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003270}}
.icon-search:before {
  content: "\f002";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003271}}
.icon-envelope:before {
  content: "\f003";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003272}}
.icon-heart:before {
  content: "\f004";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003273}}
.icon-star:before {
  content: "\f005";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003274}}
.icon-star-empty:before {
  content: "\f006";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003275}}
.icon-user:before {
  content: "\f007";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003276}}
.icon-film:before {
  content: "\f008";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003277}}
.icon-th-large:before {
  content: "\f009";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003278}}
.icon-th:before {
  content: "\f00a";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003279}}
.icon-th-list:before {
  content: "\f00b";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003280}}
.icon-ok:before {
  content: "\f00c";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003281}}
.icon-remove:before {
  content: "\f00d";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003282}}
.icon-zoom-in:before {
  content: "\f00e";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003284}}
.icon-zoom-out:before {
  content: "\f010";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003285}}
.icon-off:before {
  content: "\f011";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003286}}
.icon-signal:before {
  content: "\f012";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003287}}
.icon-cog:before {
  content: "\f013";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003288}}
.icon-trash:before {
  content: "\f014";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003289}}
.icon-home:before {
  content: "\f015";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003290}}
.icon-file:before {
  content: "\f016";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003291}}
.icon-time:before {
  content: "\f017";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003292}}
.icon-road:before {
  content: "\f018";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003293}}
.icon-download-alt:before {
  content: "\f019";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003294}}
.icon-download:before {
  content: "\f01a";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003295}}
.icon-upload:before {
  content: "\f01b";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003296}}
.icon-inbox:before {
  content: "\f01c";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003297}}
.icon-play-circle:before {
  content: "\f01d";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003298}}
.icon-repeat:before {
  content: "\f01e";
}

/* \f020 doesn't work in Safari. all shifted one down */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003301}}
.icon-refresh:before {
  content: "\f021";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003302}}
.icon-list-alt:before {
  content: "\f022";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003303}}
.icon-lock:before {
  content: "\f023";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003304}}
.icon-flag:before {
  content: "\f024";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003305}}
.icon-headphones:before {
  content: "\f025";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003306}}
.icon-volume-off:before {
  content: "\f026";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003307}}
.icon-volume-down:before {
  content: "\f027";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003308}}
.icon-volume-up:before {
  content: "\f028";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003309}}
.icon-qrcode:before {
  content: "\f029";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003310}}
.icon-barcode:before {
  content: "\f02a";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003311}}
.icon-tag:before {
  content: "\f02b";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003312}}
.icon-tags:before {
  content: "\f02c";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003313}}
.icon-book:before {
  content: "\f02d";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003314}}
.icon-bookmark:before {
  content: "\f02e";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003315}}
.icon-print:before {
  content: "\f02f";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003317}}
.icon-camera:before {
  content: "\f030";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003318}}
.icon-font:before {
  content: "\f031";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003319}}
.icon-bold:before {
  content: "\f032";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003320}}
.icon-italic:before {
  content: "\f033";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003321}}
.icon-text-height:before {
  content: "\f034";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003322}}
.icon-text-width:before {
  content: "\f035";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003323}}
.icon-align-left:before {
  content: "\f036";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003324}}
.icon-align-center:before {
  content: "\f037";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003325}}
.icon-align-right:before {
  content: "\f038";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003326}}
.icon-align-justify:before {
  content: "\f039";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003327}}
.icon-list:before {
  content: "\f03a";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003328}}
.icon-indent-left:before {
  content: "\f03b";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003329}}
.icon-indent-right:before {
  content: "\f03c";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003330}}
.icon-facetime-video:before {
  content: "\f03d";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003331}}
.icon-picture:before {
  content: "\f03e";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003333}}
.icon-pencil:before {
  content: "\f040";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003334}}
.icon-map-marker:before {
  content: "\f041";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003335}}
.icon-adjust:before {
  content: "\f042";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003336}}
.icon-tint:before {
  content: "\f043";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003337}}
.icon-edit:before {
  content: "\f044";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003338}}
.icon-share:before {
  content: "\f045";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003339}}
.icon-check:before {
  content: "\f046";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003340}}
.icon-move:before {
  content: "\f047";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003341}}
.icon-step-backward:before {
  content: "\f048";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003342}}
.icon-fast-backward:before {
  content: "\f049";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003343}}
.icon-backward:before {
  content: "\f04a";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003344}}
.icon-play:before {
  content: "\f04b";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003345}}
.icon-pause:before {
  content: "\f04c";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003346}}
.icon-stop:before {
  content: "\f04d";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003347}}
.icon-forward:before {
  content: "\f04e";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003349}}
.icon-fast-forward:before {
  content: "\f050";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003350}}
.icon-step-forward:before {
  content: "\f051";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003351}}
.icon-eject:before {
  content: "\f052";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003352}}
.icon-chevron-left:before {
  content: "\f053";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003353}}
.icon-chevron-right:before {
  content: "\f054";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003354}}
.icon-plus-sign:before {
  content: "\f055";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003355}}
.icon-minus-sign:before {
  content: "\f056";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003356}}
.icon-remove-sign:before {
  content: "\f057";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003357}}
.icon-ok-sign:before {
  content: "\f058";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003358}}
.icon-question-sign:before {
  content: "\f059";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003359}}
.icon-info-sign:before {
  content: "\f05a";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003360}}
.icon-screenshot:before {
  content: "\f05b";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003361}}
.icon-remove-circle:before {
  content: "\f05c";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003362}}
.icon-ok-circle:before {
  content: "\f05d";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003363}}
.icon-ban-circle:before {
  content: "\f05e";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003365}}
.icon-arrow-left:before {
  content: "\f060";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003366}}
.icon-arrow-right:before {
  content: "\f061";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003367}}
.icon-arrow-up:before {
  content: "\f062";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003368}}
.icon-arrow-down:before {
  content: "\f063";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003369}}
.icon-share-alt:before {
  content: "\f064";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003370}}
.icon-resize-full:before {
  content: "\f065";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003371}}
.icon-resize-small:before {
  content: "\f066";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003372}}
.icon-plus:before {
  content: "\f067";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003373}}
.icon-minus:before {
  content: "\f068";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003374}}
.icon-asterisk:before {
  content: "\f069";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003375}}
.icon-exclamation-sign:before {
  content: "\f06a";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003376}}
.icon-gift:before {
  content: "\f06b";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003377}}
.icon-leaf:before {
  content: "\f06c";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003378}}
.icon-fire:before {
  content: "\f06d";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003379}}
.icon-eye-open:before {
  content: "\f06e";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003381}}
.icon-eye-close:before {
  content: "\f070";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003382}}
.icon-warning-sign:before {
  content: "\f071";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003383}}
.icon-plane:before {
  content: "\f072";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003384}}
.icon-calendar:before {
  content: "\f073";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003385}}
.icon-random:before {
  content: "\f074";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003386}}
.icon-comment:before {
  content: "\f075";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003387}}
.icon-magnet:before {
  content: "\f076";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003388}}
.icon-chevron-up:before {
  content: "\f077";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003389}}
.icon-chevron-down:before {
  content: "\f078";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003390}}
.icon-retweet:before {
  content: "\f079";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003391}}
.icon-shopping-cart:before {
  content: "\f07a";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003392}}
.icon-folder-close:before {
  content: "\f07b";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003393}}
.icon-folder-open:before {
  content: "\f07c";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003394}}
.icon-resize-vertical:before {
  content: "\f07d";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003395}}
.icon-resize-horizontal:before {
  content: "\f07e";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003397}}
.icon-bar-chart:before {
  content: "\f080";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003398}}
.icon-twitter-sign:before {
  content: "\f081";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003399}}
.icon-facebook-sign:before {
  content: "\f082";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003400}}
.icon-camera-retro:before {
  content: "\f083";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003401}}
.icon-key:before {
  content: "\f084";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003402}}
.icon-cogs:before {
  content: "\f085";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003403}}
.icon-comments:before {
  content: "\f086";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003404}}
.icon-thumbs-up:before {
  content: "\f087";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003405}}
.icon-thumbs-down:before {
  content: "\f088";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003406}}
.icon-star-half:before {
  content: "\f089";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003407}}
.icon-heart-empty:before {
  content: "\f08a";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003408}}
.icon-signout:before {
  content: "\f08b";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003409}}
.icon-linkedin-sign:before {
  content: "\f08c";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003410}}
.icon-pushpin:before {
  content: "\f08d";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003411}}
.icon-external-link:before {
  content: "\f08e";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003413}}
.icon-signin:before {
  content: "\f090";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003414}}
.icon-trophy:before {
  content: "\f091";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003415}}
.icon-github-sign:before {
  content: "\f092";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003416}}
.icon-upload-alt:before {
  content: "\f093";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003417}}
.icon-lemon:before {
  content: "\f094";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003418}}
.icon-phone:before {
  content: "\f095";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003419}}
.icon-check-empty:before {
  content: "\f096";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003420}}
.icon-bookmark-empty:before {
  content: "\f097";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003421}}
.icon-phone-sign:before {
  content: "\f098";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003422}}
.icon-twitter:before {
  content: "\f099";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003423}}
.icon-facebook:before {
  content: "\f09a";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003424}}
.icon-github:before {
  content: "\f09b";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003425}}
.icon-unlock:before {
  content: "\f09c";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003426}}
.icon-credit-card:before {
  content: "\f09d";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003427}}
.icon-rss:before {
  content: "\f09e";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003429}}
.icon-hdd:before {
  content: "\f0a0";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003430}}
.icon-bullhorn:before {
  content: "\f0a1";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003431}}
.icon-bell:before {
  content: "\f0a2";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003432}}
.icon-certificate:before {
  content: "\f0a3";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003433}}
.icon-hand-right:before {
  content: "\f0a4";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003434}}
.icon-hand-left:before {
  content: "\f0a5";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003435}}
.icon-hand-up:before {
  content: "\f0a6";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003436}}
.icon-hand-down:before {
  content: "\f0a7";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003437}}
.icon-circle-arrow-left:before {
  content: "\f0a8";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003438}}
.icon-circle-arrow-right:before {
  content: "\f0a9";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003439}}
.icon-circle-arrow-up:before {
  content: "\f0aa";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003440}}
.icon-circle-arrow-down:before {
  content: "\f0ab";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003441}}
.icon-globe:before {
  content: "\f0ac";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003442}}
.icon-wrench:before {
  content: "\f0ad";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003443}}
.icon-tasks:before {
  content: "\f0ae";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003445}}
.icon-filter:before {
  content: "\f0b0";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003446}}
.icon-briefcase:before {
  content: "\f0b1";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003447}}
.icon-fullscreen:before {
  content: "\f0b2";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003449}}
.icon-group:before {
  content: "\f0c0";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003450}}
.icon-link:before {
  content: "\f0c1";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003451}}
.icon-cloud:before {
  content: "\f0c2";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003452}}
.icon-beaker:before {
  content: "\f0c3";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003453}}
.icon-cut:before {
  content: "\f0c4";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003454}}
.icon-copy:before {
  content: "\f0c5";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003455}}
.icon-paper-clip:before {
  content: "\f0c6";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003456}}
.icon-save:before {
  content: "\f0c7";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003457}}
.icon-sign-blank:before {
  content: "\f0c8";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003458}}
.icon-reorder:before {
  content: "\f0c9";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003459}}
.icon-list-ul:before {
  content: "\f0ca";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003460}}
.icon-list-ol:before {
  content: "\f0cb";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003461}}
.icon-strikethrough:before {
  content: "\f0cc";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003462}}
.icon-underline:before {
  content: "\f0cd";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003463}}
.icon-table:before {
  content: "\f0ce";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003465}}
.icon-magic:before {
  content: "\f0d0";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003466}}
.icon-truck:before {
  content: "\f0d1";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003467}}
.icon-pinterest:before {
  content: "\f0d2";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003468}}
.icon-pinterest-sign:before {
  content: "\f0d3";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003469}}
.icon-google-plus-sign:before {
  content: "\f0d4";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003470}}
.icon-google-plus:before {
  content: "\f0d5";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003471}}
.icon-money:before {
  content: "\f0d6";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003472}}
.icon-caret-down:before {
  content: "\f0d7";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003473}}
.icon-caret-up:before {
  content: "\f0d8";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003474}}
.icon-caret-left:before {
  content: "\f0d9";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003475}}
.icon-caret-right:before {
  content: "\f0da";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003476}}
.icon-columns:before {
  content: "\f0db";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003477}}
.icon-sort:before {
  content: "\f0dc";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003478}}
.icon-sort-down:before {
  content: "\f0dd";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003479}}
.icon-sort-up:before {
  content: "\f0de";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003481}}
.icon-envelope-alt:before {
  content: "\f0e0";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003482}}
.icon-linkedin:before {
  content: "\f0e1";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003483}}
.icon-undo:before {
  content: "\f0e2";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003484}}
.icon-legal:before {
  content: "\f0e3";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003485}}
.icon-dashboard:before {
  content: "\f0e4";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003486}}
.icon-comment-alt:before {
  content: "\f0e5";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003487}}
.icon-comments-alt:before {
  content: "\f0e6";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003488}}
.icon-bolt:before {
  content: "\f0e7";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003489}}
.icon-sitemap:before {
  content: "\f0e8";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003490}}
.icon-umbrella:before {
  content: "\f0e9";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003491}}
.icon-paste:before {
  content: "\f0ea";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003492}}
.icon-lightbulb:before {
  content: "\f0eb";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003493}}
.icon-exchange:before {
  content: "\f0ec";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003494}}
.icon-cloud-download:before {
  content: "\f0ed";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003495}}
.icon-cloud-upload:before {
  content: "\f0ee";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003497}}
.icon-user-md:before {
  content: "\f0f0";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003498}}
.icon-stethoscope:before {
  content: "\f0f1";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003499}}
.icon-suitcase:before {
  content: "\f0f2";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003500}}
.icon-bell-alt:before {
  content: "\f0f3";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003501}}
.icon-coffee:before {
  content: "\f0f4";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003502}}
.icon-food:before {
  content: "\f0f5";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003503}}
.icon-file-alt:before {
  content: "\f0f6";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003504}}
.icon-building:before {
  content: "\f0f7";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003505}}
.icon-hospital:before {
  content: "\f0f8";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003506}}
.icon-ambulance:before {
  content: "\f0f9";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003507}}
.icon-medkit:before {
  content: "\f0fa";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003508}}
.icon-fighter-jet:before {
  content: "\f0fb";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003509}}
.icon-beer:before {
  content: "\f0fc";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003510}}
.icon-h-sign:before {
  content: "\f0fd";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003511}}
.icon-plus-sign-alt:before {
  content: "\f0fe";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003513}}
.icon-double-angle-left:before {
  content: "\f100";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003514}}
.icon-double-angle-right:before {
  content: "\f101";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003515}}
.icon-double-angle-up:before {
  content: "\f102";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003516}}
.icon-double-angle-down:before {
  content: "\f103";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003517}}
.icon-angle-left:before {
  content: "\f104";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003518}}
.icon-angle-right:before {
  content: "\f105";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003519}}
.icon-angle-up:before {
  content: "\f106";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003520}}
.icon-angle-down:before {
  content: "\f107";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003521}}
.icon-desktop:before {
  content: "\f108";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003522}}
.icon-laptop:before {
  content: "\f109";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003523}}
.icon-tablet:before {
  content: "\f10a";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003524}}
.icon-mobile-phone:before {
  content: "\f10b";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003525}}
.icon-circle-blank:before {
  content: "\f10c";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003526}}
.icon-quote-left:before {
  content: "\f10d";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003527}}
.icon-quote-right:before {
  content: "\f10e";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003529}}
.icon-spinner:before {
  content: "\f110";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003530}}
.icon-circle:before {
  content: "\f111";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003531}}
.icon-reply:before {
  content: "\f112";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003532}}
.icon-github-alt:before {
  content: "\f113";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003533}}
.icon-folder-close-alt:before {
  content: "\f114";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/_font-awesome\.scss}line{font-family:\00003534}}
.icon-folder-open-alt:before {
  content: "\f115";
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/compass_forum\/_compass_forum_mobile\.scss}line{font-family:\000035}}
a {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/compass_forum\/_compass_forum_mobile\.scss}line{font-family:\000039}}
.push-right {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/compass_forum\/_compass_forum_mobile\.scss}line{font-family:\0000313}}
.word-wrap {
  word-wrap: break-word;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/compass_forum\/_compass_forum_mobile\.scss}line{font-family:\0000318}}
.text-center {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/compass_forum\/_compass_forum_mobile\.scss}line{font-family:\0000322}}
.ui-link.active, .ui-link.active:hover {
  color: #e77b26;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/compass_forum\/_compass_forum_mobile\.scss}line{font-family:\0000326}}
.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 90%;
  display: inline-block;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/compass_forum\/_compass_forum_mobile\.scss}line{font-family:\0000338}}
.ui-btn-inner {
  padding: 0.6em 18px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/compass_forum\/_compass_forum_mobile\.scss}line{font-family:\0000342}}
#nav-panel.ui-panel {
  width: 8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/compass_forum\/_compass_forum_mobile\.scss}line{font-family:\0000345}}
#nav-panel.ui-panel-closed {
  width: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/compass_forum\/_compass_forum_mobile\.scss}line{font-family:\0000348}}
.ui-panel-position-left.ui-panel-display-reveal {
  left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/compass_forum\/_compass_forum_mobile\.scss}line{font-family:\0000352}}
.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open,
.ui-panel-dismiss-position-left.ui-panel-dismiss-open {
  left: 8em;
  right: -8em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/compass_forum\/_compass_forum_mobile\.scss}line{font-family:\0000357}}
.ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal,
.ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal {
  left: 0;
  right: 0;
  -webkit-transform: translate3d(8em, 0, 0);
  -moz-transform: translate3d(8em, 0, 0);
  transform: translate3d(8em, 0, 0);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/compass_forum\/_compass_forum_mobile\.scss}line{font-family:\0000366}}
#nav-panel .ui-btn-text {
  position: static;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/compass_forum\/_compass_forum_mobile\.scss}line{font-family:\0000369}}
#nav-panel .ui-btn-text .ui-icon.icon-2x {
  background: none;
  margin-left: -15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/compass_forum\/_compass_forum_mobile\.scss}line{font-family:\0000382}}
#menu-panel .forum-list ul, #menu-panel .forum-list li {
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/compass_forum\/_compass_forum_mobile\.scss}line{font-family:\0000386}}
#menu-panel .forum-list .top-level {
  padding-left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/compass_forum\/_compass_forum_mobile\.scss}line{font-family:\0000396}}
.post-item {
  text-decoration: none;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/compass_forum\/_compass_forum_mobile\.scss}line{font-family:\00003100}}
.post-item .content {
  width: 80%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/compass_forum\/_compass_forum_mobile\.scss}line{font-family:\00003103}}
.post-item .content .title {
  margin-bottom: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/compass_forum\/_compass_forum_mobile\.scss}line{font-family:\00003107}}
.post-item .content .author, .post-item .content .forum {
  font-size: 0.8em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tom\/Web\/xzforum\/frontend\/static\/app\/styles\/compass_forum\/_compass_forum_mobile\.scss}line{font-family:\00003112}}
.post-item .vote {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: center;
}
