<ul class="contentnav layout-sidenav affix">
    <li id="addPost"><a href="/post/add">add Post</a></li>
    <li id="selectforum">
        <ul class="nav nav-pills">
            <li class="dropdown open">
                <a class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown" href="#">Change Forum <b class="caret"></b></a>
                <ul id="forummenu" class="dropdown-menu open" role="menu" aria-labelledby="drop4">

                    {% for model in forums %}
                        {% include "forum/item.mustache" %}
                    {% endfor %}

                </ul>
            </li>
        </ul>
    </li>

</ul>