<!--div class="post-item clearfix"-->
<div class="post-item-inner">
    <div class="detail">
        <h4><a href="/{{ post.forum_slug }}/{{ post.entity_id }}/{{#slugFormat}}{{post.title}}{{/slugFormat}}/" class="title">{{post.title}}</a></h4>
        <div class="belongs">
            <div class="icon"><i class="icon-user"></i> <a href="/user/{{ post.author_name }}/"> {{post.author_name}}</a></div>
            <div class="icon"><i class="icon-list"></i> <a href="/{{ post.forum_slug }}/"> {{post.forum_name}}</a></div>
        </div>
        <div class="status">
            <a class="btn btn-small" href="/{{ post.forum_slug }}/{{ post.entity_id }}/{{#slugFormat}}{{ post.title}}{{/slugFormat}}/add_comment/"><i class="icon-comment"></i> {{ post.comments_count }}</a>
            <a class="btn btn-small follow {{post.isFollowedActive}}" href="{{ post.reqPath }}?post={{ post.entity_id }}&follow={{post.followNumConvert}}&page={{ post.belongPage }}"><i class="icon-bookmark"></i> <span class="follow_count">{{ post.follower_count }}</span></a>
            <a class="btn btn-small"><i class="icon-share"></i> 400</a>
        </div>
    </div>

    <div class="vote">
        <div class="up"><a href="{{ post.reqPath }}?post={{ post.entity_id }}&vote={{ post.voteUpNumConvert }}&page={{ post.belongPage }}" class="link {{ post.voteUpActive }}"><i class="icon-arrow-up"></i></a></div>
        <div class="display">{{post.points}}</div>
        <div class="down"><a href="{{ post.reqPath }}?post={{ post.entity_id }}&vote={{ post.voteDownNumConvert }}&page={{ post.belongPage }}" class="link {{ post.voteDownActive }}"><i class="icon-arrow-down"></i></a></div>
    </div>
</div>
<!--/div-->