<!--div class="post-list"-->
    <div class="header clearfix">
        <div class="title"><h2>{{ current_forum.title }}</h2></div>
        <div class="toolbar"></div>
    </div>

    <ul class="content"></ul>

    <div class="loading">
        <div class="spinner"></div>
        <!--<div class="progress progress-striped active"">
            <div class="bar" style="width: 100%;"></div>
        </div>-->
    </div>
<!--/div-->

