<div class="post-entry clearfix">
    <div class="entry">
        <div class="header clearfix">
            <div class="title"><h1>{{model.title}}</h1></div>
        </div>
        <div class="head">
            <h2>{{model.author_name}}</h2>

            <div class="bar clearfix">
                <div class="status">
                    <span class="icon"><i class="icon-chevron-up"></i> <span class="actvote green ">{{model.points}}</span></span>
                    <span class="icon"><i class="icon-eye-open"></i> {{model.views}}</span>
                </div>
                <div class="vote">
                    <span class="up"><a href="#" class="link"><i class="icon-arrow-up"></i></a></span>
                    <span class="display">{{model.points}}</span>
                    <span class="down"><a href="#" class="link"><i class="icon-arrow-down"></i></a></span   >
                </div>
            </div>

        </div>

        <div class="content body">{{model.body}}</div>
    </div>

</div>