<div class="post-item clearfix">
    <div class="entry">
        <h1>Post Edit</h1>

        <div class="content body">
            <div class="alert"></div>

            <form action="javascript:void(0)">
                <div class="control-group">
                    <div class="controls">
                        <input type="text" id="inputTitle" placeholder="Title" value="{{model.title}}">
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <textarea placeholder="Message" rows="8" id="inputMessage">{{model.body}}</textarea>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="button" class="btn save btn-primary" id="btnPost" data-loading-text="Loading...">Save</button>
                    </div>
                </div>
            </form>
    </div>

</div>