{% extends "layout/header-nav-content.html" %}

{% block menuButton %}
    <a href="#comment-create-menu" data-icon="arrow-r" data-iconpos="right">Replying</a>
{% endblock %}

{% block contentInner %}
    <form action="{{ req.path }}" method="post" id="commentForm">
        {{ form.csrf_token }}
        <div data-role="popup">
            {% if form.errors.body %}
                <span>
                <i class="icon-warning-sign"></i>
                    {% for error in form.errors.body %}
                        {{ error }}
                    {% endfor %}
                </span>
            {% endif %}
        </div>
        <textarea placeholder="Comment here ... :)" name="body" maxlength="63206">{% if comment %}{{ comment.body }}{% endif %}</textarea>
        <div class="actions">
            <a data-role="button" class="cancel" data-inline="true">Cancel</a>
            <input type="submit" data-theme="b" data-inline="true" value="Save">
        </div>
    </form>
{% endblock %}

{% block menuPanel %}
    <div data-role="panel" id="comment-create-menu" data-position="right" data-position-fixed="true">
        {% if parent %}
        <h4 class="sub-title">You are replying to:</h4>
        <div class="author">
            <a class="text-ellipsis" href="/user/{{ parent.author.display_name }}/">
                <div class="avatar-holder">
                    <img src="{% if parent.author and parent.author.avatar %}{{ parent.author.avatar.url }}{% else %}{{url_for('frontend.static', filename='images/default_avatar.jpeg')}}{% endif %}" />
                </div>
                {{parent.author.display_name}}
            </a>
        </div>
        <span>{{ parent.operation }} &nbsp;{{ parent.fields['number'] }}&nbsp;{{ parent.fields['unit'] }}{% if parent.fields['number'] > 1 %}s{% endif %}&nbsp;ago</span>
        {% if parent.forum %}
            <h3 class="word-wrap">{{parent.title}}</h3>
            <div><i class="icon-list"></i> <a class="text-ellipsis" href="/{{ parent.forum.forum_slug }}/"> {{parent.forum.title}}</a></div>
        {% endif %}
        <div class="content word-wrap">{{parent.body}}</div>
        {% endif %}
    </div>
{% endblock %}