<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>{{ title }}</title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- build:jqm:css -->
    <link rel="stylesheet" href="{{ 'styles/jquery.mobile-1.3.0.min.css' | static_url }}">
    <!-- endbuild -->

    <!-- build:css -->
		<link rel="stylesheet" href="{{'styles/main.css'| static_url }}">
	<!-- endbuild -->

    <!-- build:jq:js -->
    <script src="{{ 'scripts/libs/jquery-1.9.1.js' | static_url }}"></script>
    <!-- endbuild -->
    <script language="javascript">
        $(document).bind('pageshow', function() {
            $($('.ui-page.ui-page-active form :input:visible')[0]).focus();
            $('.ui-hidden').hide();
        });
    </script>

    <!-- build:jqm:js -->
    <script src="{{ 'scripts/libs/jquery.mobile-1.3.0.js' | static_url }}"></script>
    <!-- endbuild -->
</head>
<body>

<div data-role="page">
    {% block navPanel %}{% endblock %}
    {% block menuPanel %}{% endblock %}
    {% block header %}{% endblock %}
    {% block content %}{% endblock %}
</div>

{% block template %}{% endblock %}
{% block help_pages %}{% endblock %}

<!-- build:js -->
	<script data-main="{{'scripts/config'| static_url }}" src="{{'scripts/libs/require.js'| static_url }}"></script>
<!-- endbuild -->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
</body>
</html>

