{% extends "layout/base.html" %}

{% block header %}
    <div data-role="header" data-theme="c" data-position="fixed" data-tap-toggle="false">
        <h1>{{ header }}</h1>
        {% block menuButton %}{% endblock %}
    </div>
{% endblock %}

{% block content %}
    <div data-role="content" id="content">
        {% block contentInner %}{% endblock %}
    </div>
{% endblock %}