{% extends "layout/base.html" %}

{% block navPanel %}
    <div data-role="panel" id="nav-panel" data-position-fixed="true">
        <a href="/" data-role="button" data-iconpos="top" {% if title == 'Home' %}class="ui-btn-active" {% endif %}>
            <i class="ui-icon icon-2x icon-home"></i>Home
        </a>
        <a href="/user/{% if current_user.id %}{{ current_user.display_name }}/{% endif %}" data-role="button" data-iconpos="top" {% if title == 'Profile' %}class="ui-btn-active" {% endif %}>
            <i class="ui-icon icon-2x icon-user"></i>Profile
        </a>
        <a data-role="button" data-iconpos="top" {% if title == 'News' %}class="ui-btn-active" {% endif %}>
            <i class="ui-icon icon-2x icon-globe"></i>News
        </a>
        <a data-role="button" data-iconpos="top" {% if title == 'Search' %}class="ui-btn-active" {% endif %}>
            <i class="ui-icon icon-2x icon-search"></i>Search
        </a>
        <a data-role="button" data-iconpos="top" {% if title == 'Setting' %}class="ui-btn-active" {% endif %}>
            <i class="ui-icon icon-2x icon-cog"></i>Setting
        </a>
        <a data-role="button" data-iconpos="top" {% if title == 'PM' %}class="ui-btn-active" {% endif %}>
            <i class="ui-icon icon-2x icon-comment"></i>PM
        </a>
        {% if current_user.id and current_user.can_admin_permission %}
        <a href="/admin/{% if current_user.id %}{{ current_user.display_name }}/{% endif %}" data-role="button" data-iconpos="top" data-role="button" data-iconpos="top" {% if title == 'Admin' %}class="ui-btn-active" {% endif %}>
            <i class="ui-icon icon-2x icon-wrench"></i>Admin
        </a>
        {% endif %}
    </div>
{% endblock %}

{% block header %}
    <div data-role="header" data-theme="c" data-position="fixed" data-tap-toggle="false">
        <a href="#nav-panel" data-icon="arrow-l">Nav</a>
        <h1>{{ header }}</h1>

        {% block menuButton %}{% endblock %}
    </div>
{% endblock %}

{% block content %}
    <div data-role="content" id="content">
        {% block contentInner %}{% endblock %}
    </div>
{% endblock %}