{% extends "layout/header-nav-content.html" %}

{% block contentInner %}
    <div class="profile">
        <div class="avatar-holder">
            <img title="change avatar" src="{% if user and user.avatar %}{{ user.avatar.url }}{% else %}{{url_for('frontend.static', filename='images/default_avatar.jpeg')}}{% endif %}" />
        </div>
        <div>
            <div class="username">
                {% if not user %}Anonymous User{% else %}{{ user.display_name }}{% endif %}
            </div>
            <div class="">
                <i class="icon-star-empty"></i>
                {% if user %}{{ user.vote_count }}{% else %}0{% endif %}
            </div>
        </div>
        {% if mine %}
            <div class="actions">
                <div>User Y connected with you</div>
                <div>Upvoted on topic X</div>
                <div>Created topic A</div>
                <div>Commented on topic B</div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block menuButton %}
    {% if mine or not user %}
        <a href="#profile-menu" data-icon="arrow-r" data-iconpos="right">Menu</a>
    {% endif %}
{% endblock %}

{% block menuPanel %}
    <div data-role="panel" data-id="{% if user %}{{ user.id }}{% endif %}" id="profile-menu" data-position="right" data-position-fixed="true">
        {% if mine %}
            <div data-role="collapsible" class="edit-image" data-collapsed-icon="arrow-d" data-expanded-icon="arrow-u" data-iconpos="right">
                <h4>Edit Profile Image</h4>
                <!--a data-role="button">View profile photo</a-->
                <!--a data-role="button">Take photo</a-->
                <a data-role="button" class="upload">upload</a>
                <!--a data-role="button">Choose existing photo</a-->
            </div>
            <a data-role="button" href="#">I'm following: 0</a>
            <a data-role="button" href="#">My follower: 0</a>
            <a data-role="button" href="/logout/">Logout</a>
        {% elif not user %}
            <a data-role="button" href="/login/">Login</a>
        {% endif %}
    </div>
{% endblock %}