{% extends "layout/header-nav-content.html" %}

{% block contentInner %}
    <form action="/register/{% if next %}?next={{ next }}{% endif %}" method="post" id="registerForm" data-type={{ register_type }}>
        {{ form.csrf_token }}
        <input data-clear-btn="true" type="text" placeholder="{% if register_type == 'U' %}Username{% else %}Email{% endif %}" name="identity" value="{% if form.identity.data %}{{ form.identity.data }}{% endif %}">
        <div class="ui-hidden popup">
            {% if form.errors.identity %}
                <p>
                    {% for error in form.errors.identity %}
                        {{ error }}
                    {% endfor %}
                </p>
            {% endif %}
        </div>
        <input data-clear-btn="true" type="password" placeholder="Password" name="password" value="{% if form.password.data %}{{ form.password.data }}{% endif %}">
        <div class="ui-hidden popup">
            {% if form.errors.password %}
                <p>
                    {% for error in form.errors.password %}
                        {{ error }}
                    {% endfor %}
                </p>
            {% endif %}
        </div>
        <a data-role="button" href="/login?next={{ next }}">Has account? Login</a>
        <input type="submit" data-role="button" data-theme="b" value="Register">
        <input data-role="cancel" type="button" value="Cancel">

        <!--a class="btn btn-primary btn-large" href="{{ next }}">Cancel</a-->
    </form>
{% endblock %}