<label class="header">Preview</label>
<div class="image-preview-holder">
    <div class="image-preview">
        <img src="">
    </div>
    <div class="span2" data-action="size-slider" data-slider-orientation="horizontal"></div>
</div>
<form class="upload-image-form" action="http://api2.transloadit.com/assemblies" enctype="multipart/form-data" method="POST">
    <input type="hidden" name="params" value="{{params}}" />
    <input type="hidden" name="width" value="">
    <input type="hidden" name="height" value="">
    <input type="hidden" name="x" value="">
    <input type="hidden" name="y" value="">
    <input type="hidden" name="x2" value="">
    <input type="hidden" name="y2" value="">
    <input type="file" id="upload-avatar" title="upload image" name="my_file" />
    <input type="hidden" name="signature" value="{{signature}}">
    <input type="button" value="upload">
    <input type="button" value="close">
</form>


