<ul class="top-level">
    {% for forum in forums %}
        {% if forum.indent_flag == -1 %}
            {% for _ in range(forum.level, forum.flag_level) %}
                </ul>
            {% endfor %}
        {% elif forum.indent_flag == 1 %}
            <ul>
        {% endif %}
    <li data-id="{{ forum.id }}" data-level="{{ forum.level }}">
        <a class="forum-link word-wrap {% if current_forum and current_forum.id == forum.id %}active{% endif %}" href="{% if (not current_forum or current_forum.id != forum.id) and show_forum_slug %}/{{ forum.forum_slug }}/{% else %}#{% endif %}">{{forum.title}}</a>
    </li>
    {% if loop.last %}
        {% for _ in range(0, forum.flag_level) %}
            </ul>
        {% endfor %}
    {% endif %}
    {% endfor %}
</ul>