{% extends "layout/header-nav-content.html" %}

{% block menuButton %}
    <a href="#menu-panel" data-icon="arrow-r" data-iconpos="right">Menu</a>
{% endblock %}

{% block menuPanel %}
    <div data-role="panel" id="menu-panel" data-position="right" data-position-fixed="true">
        <div>
            <a data-role="button" href="/{{ current_forum.forum_slug }}/topic/create/" data-inline="true" data-icon="plus">New</a>
            {% if current_user.id and current_user.can_admin_permission %}
                <a data-role="button" href="/admin/{% if current_user.id %}{{ current_user.display_name }}/{% endif %}" data-inline="true" data-icon="gear">Admin</a>
            {% endif %}
        </div>
        <div class="sort">
            <h3>Sort by:</h3>
            <div data-role="controlgroup" data-type="horizontal">
                <a data-role="button" class="hotness {% if not order_by or order_by == 'hotness' %}ui-btn-active{% endif %}" href="{{ req.path }}?sort=hotness">Hotness</a>
                <a data-role="button" class="created_at {% if order_by == 'created_at' %}ui-btn-active{% endif %}" href="{{ req.path }}?sort=created_at">New</a>
                <a data-role="button">Top</a>
            </div>
        </div>
        <div class="filters">
            <h3>Filters:</h3>
            <div data-role="controlgroup" data-type="horizontal">
                <a data-role="button" class="all {% if not filter or filter == 'all' %}ui-btn-active{% endif %}" href="{{ req.path }}?filter=all">All</a>
                <a data-role="button" class="clan {% if filter == 'clan' %}ui-btn-active{% endif %}" href="{{ req.path }}?filter=clan">Clan</a>
                <a data-role="button" class="my {% if filter == 'my' %}ui-btn-active{% endif %}" href="{{ req.path }}?filter=my">My</a>
            </div>
        </div>
        <div class="forum-list">
            <h3>Forums:</h3>
            {% include "forum/forumList.html" %}
        </div>
    </div>
{% endblock %}

{% block contentInner %}
    <div class="pull-refresh-scroller">
    <ul data-role="listview" data-page="{{ pagination.page }}" data-id="{{ current_forum.id }}">
        {% for post in pagination.items %}
            <li class="post-item" data-id="{{ post.id }}" data-myvote="{{ post.my_vote_number }}" data-isfollowed="{{ post.is_followed }}">
                <div class="content">
                    <div class="title word-wrap">
                        <a href="/{{ current_forum.forum_slug }}/{{ post.id }}/{{ post.title|format_slug }}/" class="title">{{post.title}}</a>
                    </div>
                    <!--div class="author">
                        <i class="icon-user"></i><a class="text-ellipsis" href="/user/{{ post.author.display_name }}/"> {{post.author.display_name}}</a>
                    </div-->
                    <div class="forum">
                        <i class="icon-list"></i> <a class="text-ellipsis" href="/{{ post.forum.forum_slug }}/">{{post.forum.title}}</a>
                    </div>
                    <!--div class="status">
                        <a data-role="button" data-mini="true" data-icon="edit" data-inline="true" class="" href="/{{ current_forum.forum_slug }}/{{ post.id }}/{{ post.title|format_slug }}/add_comment/">{{ post.comments_count }}</a>
                        <a data-role="button" data-mini="true" data-icon="star" data-inline="true" class="follow {% if post.is_followed %}ui-btn-active{% endif %}" href="{{ req.path }}?post={{ post.id }}&follow={% if post.is_followed %}0{% else %}1{% endif %}&page={{ pagination.page }}">{{ post.follower_count }}</a>
                        <a data-role="button" data-mini="true" data-icon="forward" data-inline="true" href="/{{ current_forum.forum_slug }}/{{ post.id }}/{{ post.title|format_slug }}/share/">{{ post.share_count }}</a>
                    </div-->
                    <div class="activity">
                        <div class="icons-holder">
                        {% for user in post.actor.content %}
                            <a title="{{ user.name }}" href="/user/{{ user.name }}">
                                <div class="avatar-holder">
                                    <img src="{% if user.avatar %}{{ user.avatar }}{% else %}{{url_for('frontend.static', filename='images/default_avatar.jpeg')}}{% endif %}" />
                                </div>
                            </a>
                        {% endfor %}
                        </div>
                        <div class="status">
                            {% if post.actor.total > 4 %}
                                <p class="count">and {{ post.actor.total - 4 }} more</p>
                            {% endif %}
                            <p class="time">{{ post.actor.timestamp }}</p>
                        </div>
                    </div>
                </div>
                <div class="vote">
                    <div class="up">
                        <a href="{{ req.path }}?post={{ post.id }}&vote={% if post.my_vote_number == 1 %}0{% else %}1{% endif %}&page={{ pagination.page }}" class="link {% if not post.controller.canVoteUpOnTopic %}ui-hidden{% endif %} {% if post.my_vote_number == 1 %}active{% endif %}">
                            <i class="icon-2x icon-arrow-up"></i>
                        </a>
                    </div>
                    <div class="display">{{post.points}}</div>
                    <div class="down">
                        <a href="{{ req.path }}?post={{ post.id }}&vote={% if post.my_vote_number == -1 %}0{% else %}-1{% endif %}&page={{ pagination.page }}" class="link {% if not post.controller.canVoteDownOnTopic %}ui-hidden{% endif %} {% if post.my_vote_number == -1 %}active{% endif %}">
                            <i class="icon-2x icon-arrow-down"></i>
                        </a>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <div class="pagination pagination-centered ui-hidden">
        <ul>
            <li {% if not pagination.has_prev %} class="disabled"{% endif %}><a {% if pagination.has_prev %}href="{{ req.path }}?page={{ pagination.page - 1 }}{% endif %}"><<</a></li>
            {% for _  in range(1, pagination.pages + 1) %}
                <li {% if loop.index == pagination.page %}class="active"{% endif %}><a href="{{ req.path }}?page={{ loop.index }}">{{ loop.index }}</a></li>
            {% endfor %}
            <li {% if not pagination.has_next %} class="disabled"{% endif %}><a {% if pagination.has_next %}href="{{ req.path }}?page={{ pagination.page + 1}}{% endif %}">>></a></li>
        </ul>
    </div>
    </div>
    <div class="pull-refresh-icon ui-hidden">
        <div class="inner">
        <span class="icon"></span>
        <span class="label">Pull up to load more...</span>
        </div>
    </div>
{% endblock %}

{% block template %}
    <script type="text/html" id="tplPostItem">
        <div class="content">
            <div class="title word-wrap">
                <a href="/<%= post.getForumSlug() %>/<%= post.getId() %>/<%= slugFormat(post.getTitle()) %>/" class="title"><%= post.getTitle() %></a>
            </div>
            <!--div class="author">
                <i class="icon-user"></i> <a href="/user/<%= post.getAuthor() %>/"> <%= post.getAuthor() %></a>
            </div-->
            <div class="forum">
                <i class="icon-list"></i> <a href="/<%= post.getForumSlug() %>/"> <%= post.getForumName() %></a>
            </div>
            <!--div class="status">
                <a data-role="button" data-mini="true" data-icon="info" data-inline="true" href="/<%= post.getForumSlug() %>/<%= post.getId() %>/<%= slugFormat(post.getTitle()) %>/add_comment/"><%= post.getCommentsCount() %></a>
                <a data-role="button" data-mini="true" data-icon="edit" data-inline="true" href="<%= url %>?post=<%= post.getId() %>&follow=<% if(post.isFollowed()) print('0'); else print('1');%>&page=<%= post.belongPage() %>"><%= post.getFollowCount() %></a>
                <a data-role="button" data-mini="true" data-icon="forward" data-inline="true">0</a>
            </div-->
            <div class="activity">
                <% for (var index in post.getActor().content) { var user = post.getActor().content[index] %>
                <a class="text-ellipsis"  title="<%= user.name %>" href="/user/<%= user.name %>">
                    <div class="avatar-holder">
                        <img src="<% if (user.avatar) { %><%= user.avatar %><% } else { %>{{url_for('frontend.static', filename='images/default_avatar.jpeg')}}<% }%>" />
                    </div>
                </a>
                <% } %>
                <div class="status">
                    <% if (post.getActor().total > 3) { %>
                    <p class="count">and <%= post.getActor().total - 3 %> more</p>
                    <% } %>
                    <p class="time"><%= post.getActor().timestamp %></p>
                </div>
            </div>
        </div>

        <div class="vote">
            <div class="up">
                <a href="<%= url %>?post=<%= post.getId() %>&vote=<% if(post.getMyVote() == 1) print('0'); else print('1') %>&page=<%= post.belongPage() %>">
                    <i class="icon-2x icon-arrow-up"></i>
                </a>
            </div>
            <div class="display"><%= post.getPoints() %></div>
            <div class="down">
                <a href="<%= url %>?post=<%= post.getId() %>&vote=<% if(post.getMyVote() == -1) print('0'); else print('-1') %>&page=<%= post.belongPage() %>">
                    <i class="icon-2x icon-arrow-down"></i>
                </a>
            </div>
        </div>
    </script>
    <script type="text/html" id="loadingEnd">
        <p>Congrats you made it to the bottom! That's the end...</p>
        <h3><a href="#" class="top"><i class="icon-circle-arrow-up"></i> To the top</a></h3>
    </script>
{% endblock %}

