<ul class="contentnav">
    <li>
        <a href="#" class="action-bar span3" data-action="toggle-menu">
            Edit Profile
            <span class="icon-chevron-down"></span>
        </a>
        <ul class="dropdown-list span3">
            <li>
                <a class="action-bar" href="#">Cancel</a>
            </li>
            <li class="upload-image-holder">
                <a class="action-bar" data-action="upload-image" href="#">Upload</a>
            </li>
            <li>
                <a class="action-bar" href="#">Delete</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#" class="action-bar span3">
            I'm following: 455
        </a>
    </li>
    <li>
        <a href="#" class="action-bar span3">
            My follower: 343
        </a>
    </li>
    <li>
        <a href="#" class="action-bar span3">
            Login/Logout
        </a>
    </li>
</ul>