<div class="row-fluid">
    <div class="row-fluid avatar-row">
        <div class="avatar-holder">
            <img src="{{avatar}}" />
        </div>
    </div>
    <div class="row-fluid username">
        <div class="row-fluid label-username">
            Username
        </div>
        <div class="row-fluid displayName">
            <span class="icon-star-empty"></span>
            {{displayName}}
        </div>
    </div>
    <div class="row-fluid actions">
        <div>User Y connected with you</div>
        <div>Upvoted on topic X</div>
        <div>Created topic A</div>
        <div>Commented on topic B</div>
    </div>
</div>