//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------

$nav-collapse-bar-bgcolor: rgb(216, 212, 212);

@media (max-width: 767px) {


  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .container .main-content{
    margin-top: 0;
  }

  body.open-menu {
    overflow: hidden;
  }

  .row {
    margin-top: 0px;
  }

  .hideContentMenu {
    display: none !important;
  }

  #header{
    position: fixed;
    z-index: 5;
  }

  #right-nav{
    display: none;
  }

  #body-fluid {
    width: 100%;
    float: left;
    overflow: auto;
    position: relative;
    z-index: 4;
    background-color: #ffffff;
    height: 100%;
    min-height: 100%;
  }

  #body-container {
    margin-top: 60px;
  }

  .open-menu #body-fluid {
    overflow: hidden;
  }

//
// Mobile Navigation
// --------------------------------------------------
  .headerbar-collapse {
    display: block;

    .btn-navbar.active {
      background-color: rgb(150, 150, 150);
      background-image: none;
    }
  }

  .headerbar-expand {
    width: 50%;
    display: none;
    line-height: 1;
    position: fixed;
    margin-left: -50%;
    left: 0;
    top: 0;
    height: 100%;

    .navbar-inner {
      height: 100%;

      .nav-collapse {
        height:  100%;

        .brand {
          display: none;
        }
      }
    }
  }

  .navbar {
    .nav {
      .avatar {
        max-width: 100%;
      }
    }
  }

  #contentmenu{
    width: 70%;
    display: none;
    line-height: 1;
    position: fixed;
    margin-left: 0%;
    left: 100%;
  }

  #mainmenu .brand{
    display: none;
  }

  #header{
    width: 100%;
  }

  #headerbar{
    //position: fixed;
  }

  #mainmenu, #mainmenu .nav-collapse, #mainmenu .navbar{
    height: 100%;
    min-height: 100%;
  }

  #mainmenu .navbar-inner{
    padding:  3;
  }

  #contentmenu .wrapmenu {
    margin: 10px;
    position: fixed;
    width: 75%;
    max-height: 100%;
    height: 100%;
    overflow: auto;
  }

  .hidePhone{
    display: none !important;
  }

//
// Views: main layout
// --------------------------------------------------

}