//FORUM STYLES

//
// Generell
// --------------------------------------------------

#content {
  padding-top: 60px;
}

.alert{
  display: none;
}

.row{
  margin-top: 0;
}

.deactive {
  display: none;
}

.icon-spinner {
  font-size: 28px;
}

#mainContent {
  padding: 0 20px;
}

.text-ellipsis {
  text-overflow: ellipsis;
  max-width: 150px;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.push-right {
  float: right;
}

.push-left {
  float: left;
}

.word-wrap {
  word-wrap: break-word;
  overflow: hidden;
}

//
// Dialog
// --------------------------------------------------

.no-close .ui-dialog-titlebar-close {
  display: none;
}

//
// Header
// --------------------------------------------------

.headerbar {
  .divider-vertical {
    margin: 0;
  }
}

//
// View Post Lists
// --------------------------------------------------

.post-list {
  .content {
    overflow-y: scroll;
  }

  .post-item {
    .loading {
      text-align: center;
    }
  }
}

//
// Bootstrap Elements
// --------------------------------------------------

.headerbar {
  width: 100%;;
}

.headerbar-collapse {
  display: none;
}

.headerbar-expand {
  .navbar-inner {
    height: 49px;
  }

  .brand {
    padding: 15px 15px 10px;
  }
}

.control-group {
  margin-right: 15px;
}

.dropdown ul, .dropdown ul li {
  list-style: none;
}

.btn-navbar-header{

  float:left;

}

.btn-navbar-contentnav{
  float: right;
}

//
// Header
// --------------------------------------------------

.navbar .nav > .active > a, .navbar .nav > .active > a:focus, .navbar .nav > .active > a:hover  {
  font-weight: bold;
}

.navbar .nav > li > a {
  color: #777;
  padding: 10px 10px 10px;
}

.navbar {
  .nav {
    margin-right: 0;
    .avatar {
      max-width: 140px;
      vertical-align: bottom;
      height: 29px;

      .avatar-img {
        margin-top: 4px;
        width: 25px;
        height: 25px;
      }
    }
  }
}


//
// View: Forum
// --------------------------------------------------

.forum-nav {

  ul{
    list-style: none;
  }


  ul.content{
      margin: 0;
  }

}

//
// View: Post
// --------------------------------------------------

.post-list {

  ul{
    list-style: none;
    margin: 0;
  }

  ul.content{

  }

  li{
    border-bottom: 1px dotted #aaaaaa;
  }

  .loading {
    text-align: center;
    margin: 20px 0 20px 0;

    .progress{
      height: 10px;
    }

    .spinner {
      width: 24px;
      height: 24px;
      margin: 0 auto;
      background-image: image-url("#{$iconLoadingSpinner}");;
    }

  }

  .header{
    .title {
      float: left;
      width: 90%;
    }
    .toolbar {
      float: right;
      margin-top: 10px;
      width: 10%;
      text-align: center;
    }
  }
}


.post-item {
  border-bottom: 1px dashed;
  padding: 15px;

  .end {
    text-align: center;
  }

  .post-item-inner {
    .detail {
      float: left;
      width: 90%;

      .title {
        word-wrap: break-word;
      }

      .belongs {
        margin-top: 20px;

        .icon {
          margin: 0 10px;
        }
      }

      .status {
        margin: 5px 0 0 10px;
      }

      h1, h2, h3 {
        margin: 0;
      }
    }

    .vote {
      width: 5%;
      float: right;

      .display {
        text-align: center;
      }

      .vote-disabled {
        visibility: hidden;
      }

      .up, .down
      {
        text-align: center;
      }

    }

    .status {
      font-size: 12px;
    }

    .body {
      margin: 10px 0 0 0;
    }
  }
}

.edit-post {

  input[name=title] {
    height: 40px;
  }

  input[name=title], textarea {
    box-sizing: border-box;
    padding: 5px;
  }

  .title {
    font-size: 20px;
    font-weight: bold;
  }

  select {
    margin: 0;
    width: 180px;
    margin-right: 15px;
  }

  input[type=submit] {
    margin-right: 15px;
  }
}

.view-post {
  .details {
    margin: 15px 0 15px 0px;
      .icon {
        margin: 0 10px 0 0;
      }

      .info {
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

  .header {
    word-wrap: break-word;
    overflow: hidden;
  }

  .content {
    margin: 4px;
    word-wrap: break-word;
    overflow: hidden;
  }
}

.post-entry {

  .bar{

    .status{
      float: left;
      font-size: 12px;
    }

    .vote{
      float: right;

      a {
        text-decoration: none;
      }
    }

  }

}

.vote {
  a.active {
    color: orangered;
  }
}

.contentnav{

  li{
    list-style: none;
  }

  .deactive{
    display: none;
  }

}

//
// View: Login and Register page
// --------------------------------------------------

.btn-navbar-header{

  float:left;

}

.btn-navbar-contentnav{
  float: right;
}

.form {
  display: block;
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 100px auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);

  .form-heading, .checkbox {
    margin-bottom: 10px;
  }

  .form-heading {
    font-size: 31.5px;
    line-height: 40px;
  }

  input[type="text"], input[type="password"] {
    width: 90%;
    font-size: 16px;
    height: auto;
    padding: 7px 9px;
  }

  .remember-me {
    input[type=checkbox] {
      margin-top: 0;
    }
  }

  .help-inline {
    display: none;
    float: right;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
  }
}

.server-error {
  margin: 10px 0 10px 0;
  padding: 5px;
  color: #fff;
  font-weight: bold;
  background: #aa0000;
  border-radius: 4px;
  -webkit-font-smoothing: antialiased;
}

//
// View: User details
// --------------------------------------------------


.user-details {
  .user-card {
    border-radius: 10px;
    background-color: #ececec;
    padding: 15px;
    width: 45%;
    margin-top: 25px;
  }

  .user-info {
    margin: 10px 0;
  }

  .following {
    dl {
      width: 15%;
      float: left;
      margin: 0 10px 10px;
    }
  }
}

//
// View: user profile
// --------------------------------------------------

.user-details {
  border: 3px gray solid;
  border-radius: 8px;

  .avatar-row {
    text-align: center;
    margin-top: 10px;
    .avatar-holder {
      height: 200px;
      width: 200px;
      margin: auto;
      position: relative;
      overflow: hidden;
      img {
        width: 200px;
        height: 200px;
        max-width: none;
      }
    }
  }

  .username {
    text-align: center;
    margin-top: 10px;

    .label-username {
      font-size: 16px;
      font-weight: bold;
    }
  }

  .actions {
    text-align: center;
    margin-top: 15px;
  }
}

//
// View: right-navigator
// -------------------------------------------------

.contentnav {
  .action-bar {
    border: 3px gray solid;
    border-radius: 3px;
    text-align: center;
    font-size: 18px;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px black;
    display: block;
  }

  .dropdown-list {
    display: none;
    border: 3px gray solid;
    margin: -10px 10px 10px 10px;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
  }

  li:hover ul, li ul:hover {
    display: block;
  }

  a{
    text-decoration: none;
  }

  button{
    padding-top: 0;
    height: 22px;
  }

  .icon-none{
    margin-left: 18px;
  }

  .nav {
    margin-bottom: 0;
  }


  .nav-pills li {
    margin: 0;
    padding: 0;
  }
}

#contentmenu {
  position: fixed;
  left: 70%;
  top: 60px;
  height: 100%;
  overflow: auto;

  .vote {
    font-size: 25px;

    .display {
      margin: 10px 0;
    }
  }

  .status {
    margin: 20px 0;

    .btn {
      margin: 5px 0;
    }
  }

  .action {
    margin: 20px 0;

    .btn {
      margin: 5px 0;
    }

    ul {
      list-style: none;
      margin: 0
    }

    li {
      margin: 4px;
      list-style: none;
    }

    .icon-spinner{
      font-size: 16px;
    }
  }
}

//
// View: ModalWindow
// -------------------------------------------------

.mask {
  position:absolute;
  top: 0;
  left: 0;
  z-index:90;
  background-color:#000;
  display:none;
}

.modal-window {
  position:fixed;
  display:none;
  z-index:99;
  padding:20px;
  background-color: #eeeeee;

  .header {
    font-size: 18px;
    font-weight: bold;
  }
}

.upload-image.modal-window {
  max-height: 500px;
  max-width: 500px;
  height: 80%;
  width: 80%;
}

.image-preview-holder {
  max-height: 450px;
  height: 85%;

  .image-preview{
    margin: 0;
    max-height: 420px;
    width: 100%;
    height: 100%;
    max-width: 420px;
    overflow: scroll;
    display: inline-block;

    img {
      border:  1px solid bluto;
      display: block;
    }
  }

  .slider {
    vertical-align: top;
  }
}

//
// comments
// ---------------------------------------------

.comments>ul {
  margin-left: 0;
}

.comments {
  ul, li {
    list-style: none;
  }

  .comment {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;

    .comment-body {
      padding: 10px 0;
    }
  }
}

//
// override
// ----------------------------------------------
.nav > .active > a > [class^="icon-"], .nav > .active > a > [class*=" icon-"] {
  background-image: none;
}


