//
// Responsive: Tablet to desktop
// --------------------------------------------------


@media (min-width: 768px) and (max-width: 979px) {



//
// Views: main layout
// --------------------------------------------------

  .container .row:first-child{
    margin-top: 66px;
  }


  body{

  }

  [class*="span"],
  .row-fluid [class*="span"] {
    float: none;
    display: block;
    width: auto;
    margin-left: 0;
  }

  .span9 {
    padding-right: 40px;
    padding-left: 40px;
  }

  .container {
    width: auto;
    padding-right: 0px;
    padding-left: 0px;
  }

  #mainmenu .navbar .btn-navbar {
    display: block;
  }

  .hideContentMenu {
    display: none !important;
  }


  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .container .main-content{
    margin-top: 0;
  }

  body.open-menu {
    overflow: hidden;
  }

  .row {
    margin-top: 0px;
  }

  #mainmenu{
    position: fixed;
    z-index: 5;
  }

  .open-menu #body-fluid {
    overflow: hidden;
  }


//
// Mobile Navigation
// --------------------------------------------------

  #header{
    width: 100%;
  }

  .headerbar-collapse {
    display: block;

    .btn-navbar.active {
      background-color: rgb(150, 150, 150);
      background-image: none;
    }
  }

  .navbar {
    .nav-collapse {
      .nav {
        .avatar {
          max-width: 100%;
        }
      }

      .nav > .divider-vertical {
        display: none;
      }

      .nav{
        float: none;
        margin-left: 0;
      }
    }
    .brand {
      padding-left: 10px;
      padding-right: 10px;
      margin: 0 0 0 -5px;
    }

    .btn-navbar {
      display: block;
    }

    .btn-navbar-header {
      float: left;
    }
  }

  .headerbar-expand {
    width: 250px;
    margin-left: -250px;
    display: none;
    line-height: 1;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;

    .navbar-inner {
      height: 100%;

      .nav-collapse {
        height:  100%;

        .nav {
          width: 100%;

          li {
            float: none;
            a {
              padding: 9px 15px;
              font-weight: bold;
              -webkit-border-radius: 3px;
              -moz-border-radius: 3px;
              border-radius: 3px;
              margin-bottom: 2px;
            }

            a:hover {
              background-color: #f2f2f2;
            }
          }

          .pull-right {
            float: none;
            margin: 0 0 10px;
          }
        }
        .brand {
          display: none;
        }
      }
    }
  }

  .navbar .nav > li > a {
    color: #777;
  }

  #contentmenu{
    width: 350px;
    display: none;
    line-height: 1;
    position: fixed;
    margin-left: 0px;
    left: 100%;
  }

  #contentmenu .wrapmenu {
    margin: 10px;
    position: fixed;
    width: 300px;
    max-height: 100%;
    height: 100%;
    overflow: auto;
  }



//
// Views: navigator
// --------------------------------------------------


}