//
// General
// ----------------------------------------------------

a {
  text-decoration:none;
}

.push-right {
  float: right;
}

.word-wrap {
  word-wrap: break-word;
  overflow: hidden;
}

.text-center {
  text-align: center;
}

.ui-link.active, .ui-link.active:hover {
  color: #e77b26 !important;
}

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 90%;
  display: inline-block;
  overflow: hidden;
}

.vote {
  text-align: center;
}

.text-right {
  text-align: right;
}

ul, li {
  list-style: none;
}

//
// Transloadit
// ----------------------------------------------------
#transloadit {
  .close {
    display: none !important;
  }
}

//
// Pull To Refresh
// ----------------------------------------------------
.pull-refresh-wrapper {
  position: absolute;
  z-index: 1;
  top: 0px;
  bottom: 0px;
  left: 0;
  width: 100%;
  background: white;
  overflow: hidden;
  padding: 0px;

  .pull-refresh-scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    padding: 15px;
    box-sizing: border-box;
  }

  .pull-refresh-icon {
    position: absolute;
    bottom: 10px;
    width: 100%;

    .inner {
      margin: auto;
      width: 250px;

      .label {
        display: inline-block;
        margin: 13px 0 0 10px;
      }

      .icon {
        display:block; float:left;
        width:40px; height:40px;
        background:url(../images/pull-icon.png) 0 0 no-repeat;
        -webkit-background-size:40px 80px; background-size:40px 80px;
        -webkit-transition-property:-webkit-transform;
        -webkit-transition-duration:250ms;
      }
    }
  }

  .pull-refresh-icon.flip {
    .icon {
      -webkit-transform:rotate(-180deg) translateZ(0);
    }
  }

  //.pullDown {
  //  background:#fff;
  //  height:40px;
  //  line-height:40px;
  //  padding:5px 10px;
  //  border-bottom:1px solid #ccc;
  //  font-weight:bold;
  //  font-size:14px;
  //  color:#888;
  //
  //  .pullDownIcon {
  //    -webkit-transform:rotate(0deg) translateZ(0);
  //  }
  //
  //  .pullUpIcon  {
  //    -webkit-transform:rotate(-180deg) translateZ(0);
  //  }
  //}

  .pull-refresh-icon.loading {
    .icon{
      background-position:0 100%;
      -webkit-transform:rotate(0deg) translateZ(0);
      -webkit-transition-duration:0ms;

      -webkit-animation-name:loading;
      -webkit-animation-duration:2s;
      -webkit-animation-iteration-count:infinite;
      -webkit-animation-timing-function:linear;
    }
  }
}

@-webkit-keyframes loading {
  from { -webkit-transform:rotate(0deg) translateZ(0); }
  to { -webkit-transform:rotate(360deg) translateZ(0); }
}

//
// Override Jquery mobile
// ----------------------------------------------------

.ui-btn-inner {
  padding: 0.6em 18px;
}

#nav-panel.ui-panel {
  width: 8em;
}
#nav-panel.ui-panel-closed {
  width: 0;
}
.ui-panel-position-left.ui-panel-display-reveal {
  left: 0;
}
.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open,
.ui-panel-dismiss-position-left.ui-panel-dismiss-open {
  left: 8em;
  right: -8em;
}
.ui-panel-animate.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal,
.ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal{
  left: 0;
  right: 0;
  -webkit-transform: translate3d(8em,0,0);
  -moz-transform: translate3d(8em,0,0);
  transform: translate3d(8em,0,0);
}

#nav-panel {
  .ui-btn-text {
    position: static;

    .ui-icon.icon-2x {
      background: none;
      margin-left: -15px;
    }
  }
}

form {
  .ui-submit {
    filter: Alpha(Opacity=30);
    opacity: .3;
    zoom: 1;
    pointer-events: none;
    z-index: 1;
  }

  .ui-submit.active {
    filter: Alpha(Opacity=100);
    opacity: 1;
    pointer-events: auto;
  }
}

//
// MenuPanel
// ----------------------------------------------------

#menu-panel {

}

//
// PostList
// ----------------------------------------------------

.post-item {
  text-decoration: none;
  position: relative;

  .content {
    width: 80%;

    .title {
      margin-bottom: 10px;
    }

    .author, .forum {
      font-size: 0.8em;
    }

    .activity {
      margin-top: 10px;
      .icons-holder {
        display: inline-block;

        a {
          float: left;
        }
      }

      .avatar-holder {
        width: 40px;
        height: 40px;

        img {
          width: 100%;
        }
      }

      .status {
        display: inline-block;

        .count {
          margin-bottom: 10px;
        }

        .time {
          margin-bottom: 0;
        }
      }
    }
  }

  .vote {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: center;

    .up {
      height: 32px;
    }
  }
}

//
// Login And Register
// ----------------------------------------------------

#LoginForm, #registerForm, #displayNameForm {
  margin: auto;
  width: 80%;

  input {
    text-align: center;
  }

  .label-remember {
    .ui-btn-inner {
      padding-left: 0;
      padding-right: 0;
      text-align: center;
    }
  }
}

#pickAvatarForm {
  margin: auto;
  width: 80%;

  .default-avatar-list {
    padding-left: 0;
    margin-right: 40px;

    li {
      width: 32%;
      display: inline-block;

      img {
        width: 100%;
      }
    }
  }
}

//
// Comment edit and create
// ----------------------------------------------------

#commentForm {
  textarea {
    height: 200px !important;
  }

  .actions {
    text-align: right;
  }
}

#comment-create-menu {
  .sub-title {
    margin-top: 0;
  }

  .author {
    .avatar-holder {
      width: 25px;
      height: 25px;
      display: inline-block;
    }

    img {
      width: 100%;
    }
  }

  .content {
    padding: 15px 0;
  }
}

//
// Post View
// ----------------------------------------------------

.view-post {
  .author {
    .avatar-holder {
      width: 50px;
      height: 50px;
      display: inline-block;
      
      img {
        width: 100%;
      }
    }
  }

  .status-bar {
    .lock-icon, .sticky-icon {
      margin: 0 5px;
    }
  }

  .content {
    padding: 15px 0;
  }

  .status{
    text-align: center;
  }

  .comments{
    ul {
      padding-left: 5px;
      border-left: 3px gray solid;
    }
  }

  .comment {
    padding: 10px 0 0;

    .comment-body {
      padding: 5px 0;
    }

    .author {
      .avatar-holder {
        width: 25px;
        height: 25px;
        display: inline-block;
      }

      img {
        width: 100%;
      }
    }
    
    .vote {
      display: inline-block;
      float: right;
    }
  }
}

.comment-pop {
  .ui-controlgroup {
    margin: 0;
  }
}

#view-post-menu {
  .action {
    .ui-btn {
      display: inline-block;
    }
  }
}

//
// Post Create And Edit
// ----------------------------------------------------

.create-edit-post {
  textarea {
    height: 250px !important;
  }
}

#forum-list {
  .forum-link {
    font-size: 20px;
  }
}

//
// Profile
// ----------------------------------------------------

.profile {
  text-align: center;

  .avatar-holder {
    img {
      width: 100%;
      max-width: 400px;
      cursor: pointer;
    }
  }

  .username {
    font-weight: bold;
    font-size:  20px;
  }
}

#profile-menu {
  .ui-collapsible {
    border-radius: 1em;
  }

  .edit-image {
    .ui-btn-inner {
      text-align: center;
    }
  }
}

//
// Forum List
// ----------------------------------------------------

.forum-list {
  .top-level {
    padding-left: 0;
    margin: 0 0;
  }

  ul {
    padding-left: 15px;
  }

  li {
    margin: 10px 0;
  }
}

//
// Manage Forums
// ----------------------------------------------------

.manage-forums{
  font-size: 1.2em;
}

//
// Action sheet
// ----------------------------------------------------

.action-sheet {
  margin: 0 1em;
}

//
// Create Forum
// ----------------------------------------------------

#createForumForm {
  margin: auto;
  width: 80%;
}

//
// Text Input
// ----------------------------------------------------
.ui-input-text {
  .helper-icon {
    position: absolute;
    right: -35px;
    top: -2px;
  }

  .helper-icon.alert {
    .ui-icon{
      background-color: red;
    }
  }

  .helper-icon.success {
    pointer-events: none;

    .ui-icon{
      background-color: green;
    }
  }
}

//
// Header
// -----------------------------------------------------
.ui-header {
  .description {
    margin: 5px 1em;
  }
}

//
// Edit Permission
// -----------------------------------------------------
#editPermissionForm {
  .ui-header {
    .ui-title {
      margin: 0.6em 0 0.8em;
    }
    .ui-submit {
      position: absolute;
      top: 4px;
      right: 5px;
    }
  }

  .edit-permission {
    .ui-slider-switch {
      float: right;
      margin: -5px 0 0 0 !important;
    }
  }
}