<ul class="contentnav affix">
    <li id="edit"><a href="#"><i class="icon-edit"></i> edit Post</a></li>
    <li id="delete"><a href="#"><i class="icon-remove-sign"></i> delete Post</a></li>
    <li id="confirmDelete" class="deactive icon-none"><button type="button" class="btn btn-primary" id="cancelDeletePost">Cancel</button> <button id="deletePost" type="button" class="btn btn-danger">Yes, delete it!</button></li>
</ul>