<div class="post item">
    <h2><a href="f/{{forum}}/p/{{slug}}" class="title">{{title}}</a></h2>
    <p class="body">{{body_preview}}</p>

    <div class="vote"> Score: {{points}} </div>
    <div class="author"> By: {{author}} </div>
    <div class="date"> By: {{date}} </div>
</div>
